<!DOCTYPE html>
<html>
<head>
<title>Vanilla Team</title>
</head>
<body>
    <p>Dear {{ name}},</p>
    <p>{{individualContent}}, the recently circulated Amendment to the Fund Agreement has received the requisite consent and become effective.  This is a courtesy notification; no further action is required on your part.  If you wish, you may <a href="{{clientURL}}">click here</a> to log in to your account, where you can download a fully executed copy of the Amendment from the Document Locker for your permanent records.  The Amendment will be available in Vanilla for viewing and download for the duration of the Fund's lifecycle.</p>
    <p>Best regards,<br/>The Vanilla Team</p>
</body>
</html>