<!DOCTYPE html>
<html>
<head>
<title>Vanilla Team</title>
</head>
<body>
    <p>Dear {{ name}},</p>
    <p>This is a notification that the pending Amended and Restated Fund Agreement for {{fundCommonName }} has been successfully countersigned by you as Fund Manager.  Investors in the Fund have been notified that the Amended and Restated Fund Agreement is effective, and directed to the Document Locker in the event they wish to download a copy for their permanent records.  The Amended and Restated Fund Agreement will remain available there for Investors and for you in your capacity as Fund Manager for the duration of the Fund's lifecycle.</p>
    <p>Best regards,<br/>The Vanilla Team</p>
</body>
</html>