<!DOCTYPE html>
<html>
<head>
<title>Vanilla Team</title>
</head>
<body>
    <p>Dear {{ name}},</p>
    <p>{{individualContent}}, the recently circulated Amended and Restated Fund Agreement has received the requisite consent and become effective.  This is a courtesy notification; no further action is required on your part.  If you wish, you may <a href="{{clientURL}}">click here</a> to log in to your account, where you can download a fully executed copy of the Amended and Restated Fund Agreement from the Document Locker for your permanent records.  The Amended and Restated Fund Agreement will be available in Vanilla for viewing and download for the duration of the Fund's lifecycle.</p>
    <p>If you have assigned a Secondary Signatory(s) to your Fund Subscription, they will need to review and sign the Fund Agreement prior to your review and signature.</p>
    <p>Best regards,<br/>The Vanilla Team</p>
</body>
</html>