<!DOCTYPE html>
<html>
<head>
<title>Vanilla Team</title>
</head>
<body>
    <p>Dear {{ name}},</p>
    <p>{{individualContent}}, the Fund Manager is requesting your consent to an Amended and Restated Fund Agreement.  Please <a href="{{clientURL}}">click here</a> to log in to your account, where you can review and approve the Amended and Restated Fund Agreement.  Your prompt attention to this matter is appreciated.</p>
    <p>Best regards,<br/>The Vanilla Team</p>
</body>
</html>



