<!DOCTYPE html>
<html>
<head>
<title>Vanilla Team</title>
</head>
<body>
    <p>Dear {{ name}},</p>
    <p>{{individualContent}}, the Fund Manager has agreed to certain changes to the Fund Agreement.  This will require you, as a condition to being included in the upcoming closing, to review and approve of these changes.
    <p>Please <a href="{{clientURL}}">click here</a> to login to your account to review and electronically execute the revised Fund Agreement.</p>
    <p>Best regards,<br/>The Vanilla Team</p>
</body>
</html>
