<!DOCTYPE html>
<html>
<head>
<title>Vanilla Team</title>
</head>
<body>
    <p>Dear {{ name}},</p>
    <p>In respect of your investment in {{ fundCommonName}}, the Fund Manager has countersigned your Side Letter. Please visit <a href="{{clientURL }}">Vanilla</a> to log in to your account, if you would like to download a fully executed copy of the increase agreement.</p>
    <p>Best regards,<br/>The Vanilla Team</p>
</body>
</html>