<!DOCTYPE html>
<html>
<head>
<title>Vanilla Team</title>
</head>
<body>
    <p>Dear {{ name}},</p>
    <p>In respect of your investment in {{ fundCommonName}}, the Fund Manager has issued a Side Letter for you to review and sign. Please visit <a href="{{clientURL }}">Vanilla</a> to log in to your account, where you can sign the Side Letter.</p>
    <p>If you have assigned a Secondary Signatory(s) to your Fund Subscription, they will need to review and sign the Side Letter prior to your review and signature.</p>
    <p>Best regards,<br/>The Vanilla Team</p>
</body>
</html>