<!DOCTYPE html>
<html>
<head>
<title>Vanilla Team</title>
</head>
<body>
    <p>Dear {{ name}},</p>
    <p>This is a notification that the pending {{docType}} for {{ fundCommonName}} has now achieved the level of Investor support you indicated, upon set up, that was required to achieve to be in a position for the Fund Manager to countersign and make it effective. Please visit <a href="{{clientURL }}">Vanilla</a> to log in to your account at any time to countersign. For clarity, until the earlier of when you countersign and make the amendment effective and when 100% consent is obtained, Vanilla will continue to accept and process Investor approvals, and level of approval will continue to be tracked, and the "remind Investor to sign" feature associated with the distributed document will remain available for your use. Many Fund Managers may wish to wait to countersign until a higher percentage of Investor have responded. This is in your discretion.</p>
    <p>Best regards,<br/>The Vanilla Team</p>
</body>
</html>

