<!DOCTYPE html>
<html>
<head>
<title>Vanilla Team</title>
</head>
<body>
    <p>Dear {{ fundManagerName }},</p>
    <p> {{ name }} has become close-ready with respect to their proposed investment in {{fundCommonName}}.  Their offer to subscribe is for {{capitalCommitmentOfferedAmount }}. Please <a href="{{clientURL }}">click here</a> to log in.</p>
    <p>Best regards,<br/>The Vanilla Team</p>
</body>
</html>