<!DOCTYPE html>
<html>
<head>
<title>Vanilla Team</title>
</head>
<body>
    <p>Dear {{ fundManagerName }},</p>
    <p>{{ name }} has executed the Side Letter issued to them. The Side Letter will not become effective until you visit the Vanilla app and counter-sign the Side Letter.</p>    
    <p>If you are a Secondary Signatory to your Fund Subscription, you will need to review and sign the Side Letter prior to your Primary Fund Manager’s review and signature in order to effectuate the Side Letter.</p>
    <p>Please <a href="{{clientURL}}">click here</a> to review and sign the Side Letter.</p>
    <p>Best regards,<br/>The Vanilla Team</p>
</body>
</html>