<!DOCTYPE html>
<html>
<head>
<title>Vanilla Team</title>
</head>
<body>
    <p>Dear {{ fundManagerName }},</p>
    <p>{{ name }} has executed the requested Capital Commitment increase letter. Their offer to increase their Capital Commitment is not effective until you visit the Vanilla app and accept the increased amount.</p>    
    <p>If you have assigned a Secondary Signatory(s) to your Fund Subscription, they will need to review and accept the increased amount.</p>    
    <p>Best regards,<br/>The Vanilla Team</p>
</body>
</html>