<!DOCTYPE html>
<html>
<head>
<title>Vanilla Team</title>
</head>
<body>
    <p>Dear {{ fundManagerName }},</p>
    <p>{{ lpName }} has declined your invitation to join {{ fundName }}.</p>
    <p>Best regards,<br/>The Vanilla Team</p>
</body>
</html>