<!DOCTYPE html>
<html>
<head>
<title>Vanilla Team</title>
</head>
<body>
    <p>Dear {{ fundManagerName }},</p>
    <p>{{ lpName }} has rescinded from {{ fundName }} and has thus elected to remove themselves from the Fund Application Process.  If you feel this Investor recinded accidentially, please contact them.  To re-activate the Investor for this Fund, you will need to re-invite them.</p>
    <p>Best regards,<br/>The Vanilla Team</p>
</body>
</html>