<!DOCTYPE html>
<html>
<head>
<title>Vanilla Team</title>
</head>
<body>
    <p>Dear {{ name}},</p>
    <p>
        {{individualContent}}, this is a reminder that the Fund Manager has previously requested your consent to an {{docType}}. Please visit <a href="{{clientURL }}">Vanilla</a> to log in to your account, where you can review the document and, if you are in approval of it, apply your electronic signature. Your prompt attention to this matter is appreciated.
    </p>
    <p>Best regards,<br/>The Vanilla Team</p>
</body>
</html>

