<!DOCTYPE html>
<html>
<head>
<title>Vanilla Team</title>
</head>
<body>
    <p>Dear {{ name}},</p>
    <p>
        The manual process of swapping out pages for the {{docType}} Change without Investor Consent has been completed.
    </p>
    <p>Best regards,<br/>The Vanilla Team</p>
</body>
</html>


