﻿<p><strong>1. Investor Type.</strong> The Interest will be held under the following type of ownership / structure
    (select <strong><u>one</u></strong>):</p>
<p>1. <input class="inputMarginRight15" type="checkbox" {{#compare areYouSubscribingAsJointIndividual "0" }}
        {{#compare investorType "Individual" }} checked {{/compare}} {{/compare}}> Individual <input
        class="inputMarginRight15" {{#compare areYouSubscribingAsJointIndividual "1" }} checked {{/compare}}
        type="checkbox" > Joint Individuals
    <strong><em>-or-</em></strong></p>
<p>2. <input type="checkbox" {{#compare investorSubType '9'}} checked {{/compare}} > Revocable Trust
    with
    <strong>{{noOfGrantors}}</strong> grantors <input class="inputMarginRight15" type="checkbox"
        {{#compare investorSubType '10'}} checked {{/compare}} > Irrevocable Trust
    <strong><em>-or-</em></strong></p>
<p>3. Entity (Select One Option From Below)</p>
<div class="row">
    <div class="col">
        <div><input class="inputMarginRight15" type="checkbox" {{#compare investorSubType '3' }} checked {{/compare}}> U.S.Limited Liability Company</div>
        <div><input class="inputMarginRight15" type="checkbox" {{#compare investorSubType '4' }} checked {{/compare}}> U.S. Limited Partnership</div>
        <div><input class="inputMarginRight15" type="checkbox" {{#compare investorSubType '5' }} checked {{/compare}}> U.S. General Partnership</div>
        <div><input class="inputMarginRight15" type="checkbox" {{#compare investorSubType '1' }} checked {{/compare}}> U.S. C Corporation</div>
        <div><input class="inputMarginRight15" type="checkbox" {{#compare investorSubType '2' }} checked {{/compare}}> U.S. S Corporation</div>
        <div><input class="inputMarginRight15" type="checkbox"> Non-U.S. General Partnership or Similar</div>
    </div>
    <div class="col">
        <div><input class="inputMarginRight15" type="checkbox"> U.S. IRA / Keogh / SEP</div>
        <div><input class="inputMarginRight15" type="checkbox" {{#compare investorSubType '7' }} checked {{/compare}}> Non-U.S. LLC or Similar Private Company</div>
        <div><input class="inputMarginRight15" type="checkbox" {{#compare investorSubType '6' }} checked {{/compare}}> Non-U.S. Corporation</div>
        <div><input class="inputMarginRight15" type="checkbox" {{#compare investorSubType '8' }} checked {{/compare}}> Non-U.S. Limited Partnership or Similar</div>
    </div>
</div>
<p>Other: {{otherInvestorSubType}}</p>
</div>
<p><strong>2. Type of Legal Ownership Desired</strong></p>
<div>
    <div class="row">
        <div class="col">
            <div><input class="inputMarginRight15" type="checkbox" {{#compare typeOfLegalOwnership 'jointTenants' }} checked {{/compare}}> Joint Tenants</div>
            <div><input class="inputMarginRight15" type="checkbox" {{#compare typeOfLegalOwnership 'jointTenantsRights' }} checked {{/compare}}> Joint Tenants with Rights of Survivorship</div>
            <div><input class="inputMarginRight15" type="checkbox" {{#compare typeOfLegalOwnership 'tenantsInCommon' }} checked {{/compare}}> Tenants in Common</div>
        </div>
        <div class="col">
            <div><input class="inputMarginRight15" type="checkbox" {{#compare typeOfLegalOwnership 'tenantsEntirety' }} checked {{/compare}}> Tenants by the Entirety</div>
            <div><input class="inputMarginRight15" type="checkbox" {{#compare typeOfLegalOwnership 'communityProperty' }} checked {{/compare}}> Community Property</div>
        </div>
    </div>
</div>
<p>{{legalTitle}}</p>
<p><strong>3. Other Investor Attributes.</strong> Please select <strong>any</strong> of the following that apply:</p>
<div>
    <div class="row">
        <div class="col">
            <div><input class="inputMarginRight15" type="checkbox"
                    {{#includes 'Tax-Exempt Organization' otherInvestorAttributes }} checked {{/includes}}>
                Tax-Exempt Organization</div>
            <div><input class="inputMarginRight15" type="checkbox"
                    {{#includes 'Employee Benefit Plan' otherInvestorAttributes }} checked {{/includes}}>
                Employee Benefit Plan</div>
            <div><input class="inputMarginRight15" type="checkbox"
                    {{#includes 'ERISA Partner' otherInvestorAttributes }} checked {{/includes}}> ERISA Partner
            </div>
            <div><input class="inputMarginRight15" type="checkbox"
                    {{#includes 'Bank Holding Company' otherInvestorAttributes }} checked {{/includes}}> Bank
                Holding Company</div>
            <div><input class="inputMarginRight15" type="checkbox"
                    {{#includes 'Foreign Government Entity' otherInvestorAttributes }} checked {{/includes}}>
                Foreign Government Entity</div>
            <div><input class="inputMarginRight15" type="checkbox"
                    {{#includes 'Governmental Pension Plan' otherInvestorAttributes }} checked {{/includes}}>
                Governmental Pension Plan</div>
            <div><input class="inputMarginRight15" type="checkbox"
                    {{#includes 'Non-Pension Governmental Entity' otherInvestorAttributes }} checked {{/includes}}
                   > Non-Pension Governmental Entity</div>
            <div><input class="inputMarginRight15" type="checkbox"
                    {{#includes 'Broker-Dealer' otherInvestorAttributes }} checked {{/includes}}> Broker-Dealer
            </div>
        </div>
        <div class="col">
            <div><input class="inputMarginRight15" type="checkbox"
                    {{#includes 'Private Pension Plan' otherInvestorAttributes }} checked {{/includes}}>
                Private
                Pension Plan</div>
            <div><input class="inputMarginRight15" type="checkbox"
                    {{#includes 'Fund of Funds' otherInvestorAttributes }} checked {{/includes}}> Fund of Funds
            </div>
            <div><input class="inputMarginRight15" type="checkbox"
                    {{#includes 'Insurance Company' otherInvestorAttributes }} checked {{/includes}}> Insurance
                Company</div>
            <div><input class="inputMarginRight15" type="checkbox"
                    {{#includes 'Private Foundation' otherInvestorAttributes }} checked {{/includes}}> Private
                Foundation</div>
            <div><input class="inputMarginRight15" type="checkbox"
                    {{#includes '501(c)(3)' otherInvestorAttributes }} checked {{/includes}}> 501(c)(3)</div>
            <div><input class="inputMarginRight15" type="checkbox"
                    {{#includes 'Investment Company Registered with SEC' otherInvestorAttributes }} checked
                    {{/includes}}> Investment Company Registered with SEC</div>

        </div>
    </div>
</div>
<p></p>
<p><strong>4. Accredited Investor Status. </strong>The investor is an "<em>accredited investor</em>" (within the meaning
    of Rule 501
    under the U.S. Securities Act of 1933, as amended (the "<em><strong>Securities Act</strong></em>")).</p>
<p>
    <input class="inputMargin" {{#compare areYouAccreditedInvestor true}} checked {{/compare}} type="checkbox"
       > Yes
    <input class="inputMargin" {{#compare areYouAccreditedInvestor false}} checked {{/compare}} type="checkbox"
       > No
</p>
<p><strong>5. Qualified Client Status. </strong>The investor is a "<em>qualified client</em>" (within the meaning of Rule
    205-3 under
    the U.S. Investment Advisers Act of 1940, as amended (the "<em><strong>Advisers Act</strong></em>)).</p>
<p>
    <input class="inputMargin" {{#compare areYouQualifiedClient true}} checked {{/compare}} type="checkbox"
       > Yes
    <input class="inputMargin" {{#compare areYouQualifiedClient false}} checked {{/compare}} type="checkbox"
       > No
</p>
<p><strong>6. Qualified Purchaser Status. </strong>The investor is a "<em>qualified purchaser</em>" (within the meaning
    of Section
    2(a)(51) under the U.S. Investment Company Act of 1940, as amended (the "<em><strong>Investment Company
            Act</strong></em>")).
</p>
<p>
    <input class="inputMargin" {{#compare areYouQualifiedPurchaser true}} checked {{/compare}} type="checkbox"
       > Yes
    <input class="inputMargin" {{#compare areYouQualifiedPurchaser false}} checked {{/compare}} type="checkbox"
       > No
</p>
<P><strong>7. Investment Company Act Matters.</strong> If the Investor is an <strong>Entity</strong> (including a
    trust),
    is the Investor
    either (a) an "<em>investment company</em>" under the Investment Company Act, or (b) relying on either Section
    3(c)(1)
    or Section 3(c)(7) of the Investment Company Act to be excepted from the definition of "<em>investment company</em>"
    as defined in Section 3(a) of the Investment Company Act.</P>
<P>
    <input class="inputMargin" {{#compare companiesAct '1' }} checked {{/compare}} type="checkbox" >
    No<br>
    <input class="inputMargin" {{#compare companiesAct '2' }} checked {{/compare}} type="checkbox" >
    Yes, the Investor relies on Section 3(c)(1) of the Investment Company Act<br>
    <input class="inputMargin" {{#compare companiesAct '3' }} checked {{/compare}} type="checkbox" >
    Yes, the Investor relies on Section 3(c)(7) of the Investment Company Act<br>
    <input class="inputMargin" {{#compare companiesAct '4' }} checked {{/compare}} type="checkbox" >
    Yes, the Investor is an investment company
</P>
<P>If the Investor relies on either Section 3(c)(1) or Section 3(c)(7) of the Investment Company Act, in order to
    accurately count the number of beneficial owners of the Fund, please specify the number of beneficial owners of the
    outstanding securities (other than short-term paper) of the Investor and any existing or prospective investors of
    the Fund that control, are controlled by, or are under common control with the Investor (such other investors are
    referred to as "<em><strong>Affiliated Investors</strong></em>"):</P>
<P>{{numberOfDirectEquityOwners}}</P>
<P>The Investor further represents and warrants that neither the Investor nor any Affiliated Investor has been
    structured or operated for the purpose of circumventing the registration requirements of the Investment Company Act.
</P>
<P><strong>8. Look-Through Issues.</strong> If the Investor is an <strong>Entity</strong> (including a trust), please
    check the appropriate
    true or false response to the following statements regarding the Investor’s investment in the fund.</P>
<div class="row marginBottom10">
    <div class="col-md-3 col-xs-3 col-sm-3">
        <input {{#compare entityProposingAcquiringInvestment true }} checked {{/compare}} class="inputMargin"
            type="checkbox" > True
        <input {{#compare entityProposingAcquiringInvestment false }} checked {{/compare}} class="inputMargin"
            type="checkbox" > False
    </div>
    <div class="col-md-9 col-xs-9 col-sm-9">The Investor was not organized for the purpose of acquiring the investment.
    </div>
</div>
<div class="row marginBottom10">
    <div class="col-md-3 col-xs-3 col-sm-3">
        <input {{#compare entityHasMadeInvestmentsPriorToThedate true }} checked {{/compare}} class="inputMargin"
            type="checkbox" > True
        <input {{#compare entityHasMadeInvestmentsPriorToThedate false }} checked {{/compare}} class="inputMargin"
            type="checkbox" > False
    </div>
    <div class="col-md-9 col-xs-9 col-sm-9">The Investor has made investments prior to the date hereof or intends to
        make investments in the near future and each beneficial owner of interests in the Investor has and will share in
        the same proportion to each such investment.</div>
</div>
<div class="row marginBottom10">
    <div class="col-md-3 col-xs-3 col-sm-3">
        <input {{#compare partnershipWillNotConstituteMoreThanFortyPercent true }} checked {{/compare}}
            class="inputMargin" type="checkbox" > True
        <input {{#compare partnershipWillNotConstituteMoreThanFortyPercent false }} checked {{/compare}}
            class="inputMargin" type="checkbox" > False
    </div>
    <div class="col-md-9 col-xs-9 col-sm-9">The Investor’s investment in the Fund will not constitute more than forty
        percent (40%) of the Investor’s assets (including for this purpose any committed capital if the Investor is an
        investment fund).</div>
</div>
<div class="row marginBottom10">
    <div class="col-md-3 col-xs-3 col-sm-3">
        <input {{#compare beneficialInvestmentMadeByTheEntity true }} checked {{/compare}} class="inputMargin"
            type="checkbox" > True
        <input {{#compare beneficialInvestmentMadeByTheEntity false }} checked {{/compare}} class="inputMargin"
            type="checkbox" > False
    </div>
    <div class="col-md-9 col-xs-9 col-sm-9">The governing documents of the Investor require that each beneficial owner of the Investor, including, but not limited to, shareholders, partners and beneficiaries, participate through
        such beneficial owner’s interest in the Investor in all of the Investor’s investments and that the profits and losses from each such investment are shared among such beneficial owners in the same proportions as all other
        investments of the Investor. No such beneficial owner may vary such beneficial owner’s share of the profits and losses or the amount of such beneficial owner’s contribution for any investment made by the Investor.</div>
</div>
<P>If there is a False response to any one of the above five questions, in order to accurately count the number of
    beneficial owners of the Fund, please specify the number of beneficial owners of the outstanding securities (other
    than short-term paper) of the Investor and any Affiliated Investors:</P>
<P>{{numberOfDirectEquityOwners}}</P>
<P><strong>9. Benefit Plan / ERISA Representation. </strong>If the Investor is an <strong>Entity</strong> (including a trust), please check
    the appropriate true or false response to the following statements. The Investor understands that the Fund and the
    Fund Manager are relying upon the Investor’s responses in determining fiduciary responsibilities under the United
    States Employee Retirement Income Security Act of 1974, as amended ("<em><strong>ERISA</strong></em>") and related
    rules and
    regulations.</P>
<div class="row marginBottom10">
    <div class="col-md-3 col-xs-3 col-sm-3">
        <input {{#compare employeeBenefitPlan true }} checked {{/compare}} class="inputMargin" type="checkbox"
           > True
        <input {{#compare employeeBenefitPlan false }} checked {{/compare}} class="inputMargin" type="checkbox"
           > False
    </div>
    <div class="col-md-9 col-xs-9 col-sm-9">The Investor is an "employee benefit plan," as defined in Section 3(3) of
        ERISA, that is subject to the provisions of Part 4 of Title I of ERISA.</div>
</div>
<div class="row marginBottom10">
    <div class="col-md-3 col-xs-3 col-sm-3">
        <input {{#compare planAsDefinedInSection4975e1 true }} checked {{/compare}} class="inputMargin" type="checkbox"
            > True
        <input {{#compare planAsDefinedInSection4975e1 false }} checked {{/compare}} class="inputMargin" type="checkbox"
            > False
    </div>
    <div class="col-md-9 col-xs-9 col-sm-9">The Investor is a "plan," as defined in Section 4975(e)(1) of the Code, that
        is subject to Section 4975 of the Code (including, by way of example only, an individual retirement account).
    </div>
</div>
<div class="row marginBottom10">
    <div class="col-md-3 col-xs-3 col-sm-3">
        <input {{#compare benefitPlanInvestor true }} checked {{/compare}} class="inputMargin" type="checkbox"
           > True
        <input {{#compare benefitPlanInvestor false }} checked {{/compare}} class="inputMargin" type="checkbox"
           > False
    </div>
    <div class="col-md-9 col-xs-9 col-sm-9">The Investor is an entity that is deemed to be a "benefit plan investor"
        under the U.S. Department of Labor final plan assets regulation, 29 C.F.R. §2510.3-101, as amended (the
        "Regulation") and as modified by Section 3(42) of ERISA, because its underlying assets include "plan assets" by
        reason of a plan’s investment in the entity (including, by way of example only, a partnership or other entity:
        (A) in which twenty-five percent (25%) or more of each class of equity interests is owned by one or more
        "employee benefit plans" or "plans" described above or by one or more other entities described in this
        paragraph, applying for this purpose the proportional ownership rule set forth in the final sentence of Section
        3(42) of ERISA, and (B) that does not qualify as a "venture capital operating company" or "real estate operating
        company" under the Regulation).</div>
</div>
<P> If the Investor is deemed a "<em>benefit plan investor</em>," the Investor hereby certifies that
    <span>{{totalValueOfEquityInterests}}</span>% of the total value of equity interests in the Investor is held by
    "<em>benefit plan investors</em>."</P>
<P><strong>10. FOIA and Similar Disclosure Obligations. </strong>Is the Investor required, if requested, under
    United States or
    other federal, state, local or non-United States similar regulations to release any or all information related to
    the Investor’s investment in the Fund? For example under the United States Freedom of Information Act (&quot;FOIA")
    or any similar statues anywhere else worldwide?</P>
<P>
    <input class="inputMargin" {{#compare releaseInvestmentEntityRequired true }} checked {{/compare}} type="checkbox"
        > Yes
    <input class="inputMargin" {{#compare releaseInvestmentEntityRequired false }} checked {{/compare}} type="checkbox"
        > No
</P>
<p>{{indirectBeneficialOwnersSubjectFOIAStatutes}}</p>
<P><strong>11. Disqualifying Event. </strong>Has the Investor or any of its Beneficial Owners been subject to a
    Disqualifying
    Event for purpose of Regulation D of Rule 506(d) promulgated under the Securities Act?</P>
<P>
    <input class="inputMargin" {{#compare isSubjectToDisqualifyingEvent true }} checked {{/compare}} type="checkbox"
        > Yes
    <input class="inputMargin" {{#compare isSubjectToDisqualifyingEvent false }} checked {{/compare}} type="checkbox"
        > No
</P>
<p><strong>12. Special Disclosures. (<em>Optional</em>) </strong>The Investor has other information to disclose to the
    Fund Manager in connection with the investment:</P>
<p class="inputMargin">{{fundManagerInfo}}</p>
{{#each investorQuestions}}
<p><b>{{increment @index}}. {{question}}</b></p>
<p>
    {{#compare typeOfQuestion '1' }}
    {{#if questionResponse}} {{questionResponse}} {{/if}}
    {{/compare}}

    {{#compare typeOfQuestion '2' }}
    <input {{#compare questionResponse '1' }} checked {{/compare}} class="inputMargin" type="checkbox"
       > True
    <input {{#compare questionResponse '0' }} checked {{/compare}} class="inputMargin" type="checkbox"
       > False
    {{/compare}}

    {{#compare typeOfQuestion '3' }}
    <input {{#compare questionResponse '1' }} checked {{/compare}} class="inputMargin" type="checkbox"
       > Yes
    <input {{#compare questionResponse '0' }} checked {{/compare}} class="inputMargin" type="checkbox"
       > No
    {{/compare}}
</p>
{{/each}}