﻿<p style="text-align:center"><b>EXHIBIT</b></p>
<p style="text-align:center"><b>ACCREDITED INVESTOR DEFINITION</b></p>
<p><b>Accredited Investor Representation.</b> The Investor is an "<i>accredited investor</i>" (within the meaning of
    Rule 501 under the Securities Act), if any of the following are true with respect to the Investor:</p>
<ol type="a">
    <li>If an individual, the Investor has a net worth , either individually or upon a joint basis with the Investor’s
        spouse, of at least $1,000,000, <i>or</i> has had an individual income in excess of $200,000 for each of the two
        most recent years, or a joint income with the Investor’s spouse in excess of $300,000 in each of those years,
        and has a reasonable expectation of reaching the same income level in the current year.</li>
    <li>The Investor is a trust with total assets in excess of $5,000,000 whose purchase is directed by a person with
        such knowledge and experience in financial and business matters that such person is capable of evaluating the
        merits and risks of the prospective investment.</li>
    <li>The Investor is a trust with total assets in excess of $5,000,000 whose purchase is directed by a person with
        such knowledge and experience in financial and business matters that such person is capable of evaluating the
        merits and risks of the prospective investment.</li>
    <li>The Investor is an employee benefit plan and <i>either</i> all investment decisions are made by a bank, savings
        and loan association, insurance company, or registered investment advisor, <i>or</i> the Investor has total
        assets in excess of $5,000,000 <i>or</i>, if such plan is a self-directed plan, investment decisions are made
        solely by persons who are accredited investors.</li>
    <li>The Investor is a corporation, partnership, limited liability company or business trust, not formed for the
        purpose of acquiring the Interest, or an organization described in Section 501(c)(3) of the Code, in each case
        with total assets in excess of $5,000,000.</li>
    <li>The Investor is an entity in which <b>all</b> of the equity owners, or a <i>living trust or other revocable
            trust</i> in which <b>all</b> of the grantors and trustees qualify under clause (a), (b), (c), (d) or (e)
        above or this clause (f).</li>
</ol>
<p style="text-align: center"><b>EXHIBIT</b></p>
<p style="text-align: center"><b>QUALIFIED CLIENT DEFINITION</b></p>
<p><b>Qualified Client Representation.</b> The Investor is a "<i>qualified client</i>" (within the meaning of Rule 205-3
    under the Advisers Act), if any of the following are true with respect to the Investor:</p>
<ol type="a">
    <li>The Investor is a natural person, trust or a company that has made a Capital Commitment of at least $1,000,000.
    </li>
    <li>The Investor is a natural person (together with assets held jointly with a spouse), trust or a company that has
        a net worth of more than $2,100,000.</li>
    <li>The Investor is a Qualified Purchaser (within the meaning of Section 2(a)(51) under the Investment Company Act)
        (see <b>EXHIBIT C</b>).</li>
</ol>
<p>Notwithstanding the foregoing, if the Investor is a company that (i) would be an "<i>investment company</i>" under
    the Investment Company Act but for the exception provided from that definition by Section 3(c)(1) of the Investment
    Company Act, (ii) is an investment company registered under the Investment Company Act, or (iii) is a "<i>business
        development company,</i>" as defined in Section 202(a)(22) of the Advisers Act (each, an "<b><i>Excluded
            Company</i></b>"), all of the Investor’s equity owners must be "<i>qualified clients</i>" (as described
    above) and if any of the Investor’s equity owners is an Excluded Company, such equity owners must also be
    "<i>qualified clients</i>" (as described above) in order for the Investor to be deemed a "<i>qualified client</i>."
</p>
<p style="text-align: center"><b>EXHIBIT</b></p>
<p style="text-align: center"><b>QUALIFIED PURCHASER DEFINITION</b></p>
<p><b>Qualified Purchaser Representation (Part I).</b> The Investor is a "<i>qualified purchaser</i>" (within the
    meaning of Section 2(a)(51) under the Investment Company Act), if any of the following are true with respect to the
    Investor:</p>
<ol type="a">
    <li>The Investor is an individual (including any person who is acquiring the Interest with his or her spouse in a
        joint capacity, as community property or similar shared interest) who either individually or together with the
        Investor’s spouse, owns Investments that are Valued at not less than $5,000,000.</li>
    <li>The Investor is an entity that owns Investments that are Valued at not less than $5,000,000 and is owned
        directly or indirectly by two (2) or more natural persons related as siblings, spouses (including former
        spouses) or direct lineal descendants by birth or adoption, spouses of such persons, the estates of such
        persons, or foundations, charitable organizations or trusts established by or for the benefit of such persons.
    </li>
    <li>The Investor is a trust not covered by clause (b) above and not formed for the specific purpose of acquiring the
        Interest, as to which the trustee or other person authorized to make decisions with respect to the trust and
        each settlor or other person who has contributed assets to the trust is a person described in clause (a) or (b)
        above or clause (d) below.</li>
    <li>The Investor is an entity, acting for its own account or the accounts of others described in clause (a), (b) or
        (c) above, this clause (d) or clause (e) below, that in the aggregate owns and invests on a discretionary basis
        Investments that are Valued at not less than $25,000,000.</li>
    <li>The Investor is an entity, <b>all</b> of the outstanding securities of which are owned by persons or entities
        described in clause (a), (b), (c) or (d) above or this clause (e).</li>
    <li>The Investor is a "<i>qualified institutional buyer</i>" as defined in paragraph (a) of Rule 144A under the
        Securities Act, acting for its own account, the account of another qualified institutional buyer, or the account
        of a qualified purchaser; <i>provided</i> that (i) a dealer described in paragraph (a)(1)(ii) of Rule 144A must
        own and invest on a discretionary basis at least $25,000,000 in securities of issuers that are not affiliated
        persons of the dealer and (ii) a plan referred to in paragraph (a)(1)(i)(D) or (a)(1)(i)(E) of Rule 144A, or a
        trust fund referred to in paragraph (a)(1)(i)(F) of Rule 144A that holds the assets of such a plan, will not be
        deemed to be acting for its own account if investment decisions with respect to the plan are made by the
        beneficiaries of the plan, except with respect to investment decisions made solely by the fiduciary, trustee or
        sponsor of such plan.</li>
</ol>
<p><b>Qualified Purchaser Representation (Part II).</b> If one of the representations set forth in clauses (b) through
    (f) in Part I above are true and the Investor would be treated as an "<i>investment company</i>" under the
    Investment Company Act but for the fact that the Investor qualifies for one of the exemptions from the definition of
    "<i>investment company</i>" provided for in Sections 3(c)(1) or 3(c)(7) of the Investment Company Act, in order for
    the Investor to indicate that it is a "<i>qualified purchaser</i>" the Investor certifies that the Investor has read
    and understands the provisions of Section 2(a)(51)(C) of the Investment Company Act and Rule 2a51-2 promulgated
    under the Investment Company Act excerpted on <b>EXHIBIT D</b> hereto and can make one of the following
    representations:</p>
<ol type="a">
    <li>No consent of the Investor’s direct or indirect beneficial owners is required for the Investor’s treatment as a
        "<i>qualified purchaser</i>" (within the meaning of Section 2(a)(51) under the Investment Company Act) with
        respect to the Fund.</li>
    <li>Both of the following are true <i>(NOTE – this representation is only required if the Investor was formed on or
            before April 30, 1996)</i>: (A) all of the beneficial owners of the Investor’s outstanding securities (other
        than short-term paper), determined in accordance with Section 3(c)(1)(A) of the Investment Company Act, that
        acquired such securities on or before April 30, 1996 have consented to the Investor’s treatment as a "qualified
        purchaser" under the Investment Company Act with respect to the Fund; and (B) each direct and indirect owner of
        the Investor who: (i) acquired its interest in the Investor on or before April 30, 1996; and (ii) would be an
        "investment company" under the Investment Company Act but for the exclusions from the definition of "investment
        company" provided for in Sections 3(c)(1) or 3(c)(7) of the Investment Company Act, has consented to treatment
        of the Investor has a "<i>qualified purchaser</i>" under the Investment Company Act with respect to the Fund.
    </li>
    <li>If one of the representations set forth in clauses (b) or (c) in Part I above are true, all of the trustees,
        directors or general partners of the Investor have consented to the Investor’s treatment as a "<i>qualified
            purchaser</i>" (within the meaning of Section 2(a)(51) under the Investment Company Act) with respect to the
        Fund.</li>
</ol>
<p style="text-align: center"><b>EXHIBIT</b></p>
<p style="text-align: center"><b>CERTAIN ADDITIONAL DEFINITIONS</b></p>
<p>"<b><i>United States person</i></b>" shall mean an individual who is a citizen of the United States or a resident
    alien for U.S. federal income tax purposes; a corporation, an entity taxable as a corporation, or a partnership
    created or organized in or under the laws of the United States or any state or political subdivision thereof or
    therein (including the District of Columbia); an estate, the income of which is subject to U.S. federal income
    taxation regardless of its source; or a trust if (y) a court within the United States is able to exercise primary
    supervision over its administration and one or more United States persons have the authority to control all of its
    substantial decisions or (z) such trust was in existence on August 20, 1996 and was treated as a domestic trust on
    August 19, 1996 and such trust has a valid election in effect under applicable U.S. Treasury regulations to be
    treated as a United States person.</p>
<p>"<b><i>Investments</i></b>" shall mean any of the following:</p>
<ol type="1">
    <li>"Securities" as such term is defined by Section 2(a)(1) of the Securities Act. Notwithstanding the foregoing,
        securities of an issuer that controls, is controlled by, or is under common control with the Investor shall not
        be deemed Investments unless the issuer is:
        <ol type="i">
            <li>"Securities" as such term is defined by Section 2(a)(1) of the Securities Act. Notwithstanding the
                foregoing, securities of an issuer that controls, is controlled by, or is under common control with the
                Investor shall not be deemed Investments unless the issuer is:</li>
            <li>A company whose equity securities are listed on a national securities exchange, traded on Nasdaq or
                listed on a "designated offshore securities market" (as defined by Regulation S promulgated pursuant to
                the Securities Act); or</li>
            <li>A company with shareholders’ equity of not less than $50,000,000 (determined in accordance with
                generally accepted accounting principles) as reflected on the company’s most recent financial statements
                (provided such financial statements present information as of a date not more than sixteen (16) months
                preceding the Investor’s investment in the Fund).</li>
        </ol>
    </li>
    <li>Real estate held for investment purposes (<i>i.e.,</i> not used by the undersigned for personal purposes or as a
        place of business or in connection with the trade or business of the undersigned).</li>
    <li>"Commodity Interest" (<i>i.e.,</i> commodities futures contracts, options on such contracts or options on
        commodities that are traded on or subject to the rules of (i) any contract market designated for trading under
        the U.S. Commodity Exchange Act of 1936, as amended (the "<b><i>Commodity Exchange Act</i></b>"), and rules
        thereunder or (ii) any board of trade or exchange outside the United States, as contemplated in Part 30 of the
        rules under the Commodity Exchange Act) held for investment purposes.</li>
    <li>Physical commodities (with respect to which a Commodity Interest is traded on a market specified in paragraph 3
        above) held for investment purposes.</li>
    <li>Financial contracts within the meaning of Section 3(c)(2)(B)(ii) of the Investment Company Act held for
        investment purposes.</li>
    <li>If the Investor is a company that would be an investment company but for the exclusion provided by Section
        3(c)(1) or 3(c)(7) of the Investment Company Act, or a commodity pool, any amounts payable to the Investor
        pursuant to a binding commitment pursuant to which a person has agreed to acquire an interest in, or make
        capital contributions to, the Investor upon demand by the Investor.</li>
    <li>Cash and cash equivalents (including bank deposits, certificates of deposit, bankers acceptances and similar
        bank instruments held for investment purposes and the net cash surrender value of insurance policies).</li>
</ol>
<p>"<b><i>Valued</i></b>" shall mean either the fair market value or cost of Investments net of the following
    deductions:</p>
<ol type="1">
    <li>the amount of any outstanding indebtedness incurred to acquire such Investments; and</li>
    <li>if the holder of the Investment is a company, any outstanding indebtedness incurred by any owner of such company
        to acquire such Investments.</li>
</ol>
<p><b>SECTION 2(A)(51)(C) OF THE INVESTMENT COMPANY ACT:</b></p>
<p>"The term "qualified purchaser" does not include a company that, but for the exceptions provided for in paragraph (1)
    or (7) of Section 3(c), would be an investment company (hereafter in this paragraph referred to as an "excepted
    investment company"), unless all beneficial owners of its outstanding securities (other than short-term paper),
    determined in accordance with Section 3(c)(1)(A), that acquired such securities on or before April 30, 1996
    (hereafter in this paragraph referred to as "pre-amendment beneficial owners"), and all pre-amendment beneficial
    owners of the outstanding securities (other than short-term paper) or any excepted investment company that, directly
    or indirectly, owns any outstanding securities of such excepted investment company, have consented to its treatment
    as a qualified purchaser. Unanimous consent of all trustees, directors, or general partners of a company or trust
    referred to in clause (ii) or (iii) of subparagraph (A) shall constitute consent for purposes of this subparagraph."
</p>
<p><b>RULE 2A51-2 AS PROMULGATED UNDER THE INVESTMENT COMPANY ACT:</b></p>
<ol type="a">
    <li><i>Beneficial Ownership: General.</i> Except as set forth in this section, for purposes of Sections 2(a)(51)(C)
        and 3(c)(7)(B)(ii) of the Act, the beneficial owners of securities of an excepted investment company…shall be
        determined in accordance with Section 3(c)(1) of the Act.</li>
    <li><i>Beneficial Ownership: Grandfather Provision.</i> For purposes of Section 3(c)(7)(B)(ii) of the Act,
        securities of an issuer beneficially owned by a company (without giving effect to Section 3(c)(1)(A) of the Act
        ("owning company") shall be deemed to be beneficially owned by one person unless: (1) The owning company is an
        investment company or an excepted investment company; (2) The owning company, directly or indirectly, controls,
        is controlled by, or is under common control with, the issuer; and (3) On October 11, 1996, under Section
        3(c)(1)(A) of the Act as then in effect, the voting securities of the issuer were deemed to be beneficially
        owned by the holders of the owning company’s outstanding securities (other than short-term paper), in which
        case, such holders shall be deemed to be beneficial owners of the issuer’s outstanding voting securities.</li>
    <li><i>Beneficial Ownership: Consent Provision.</i> For purposes of Section 2(a)(51)(C) of the Act, securities of an
        excepted investment company beneficially owned by a company (without giving effect to Section 3(c)(1)(A) of the
        Act ("owning company") shall be deemed to be beneficially owned by one person unless: (1) The owning company is
        an excepted investment company; (2) The owning company directly or indirectly controls, is controlled by, or is
        under common control with, the excepted investment company or the company with respect to which the excepted
        investment company is, or will be, a qualified purchaser; and (3) On April 30, 1996, under Section 3(c)(1)(A) of
        the Act as then in effect, the voting securities of the excepted investment company were deemed to be
        beneficially owned by the holders of the owning company’s outstanding securities (other than short-term paper),
        in which case the holders of such excepted company’s securities shall be deemed to be beneficial owners of the
        excepted investment company’s outstanding voting securities.</li>
    <li><i>Indirect Ownership: Consent Provision.</i> For purposes of Section 2(a)(51)(C) of the Act, an excepted
        investment company shall not be deemed to indirectly own the securities of an excepted investment company
        seeking a consent to be treated as a qualified purchaser ("qualified purchaser company") unless such excepted
        investment company, directly or indirectly, controls, is controlled by, or is under common control with, the
        qualified purchaser company or a company with respect to which the qualified purchaser company is or will be a
        qualified purchaser.</li>
    <li><i>Required Consent: Consent Provision.</i> For purposes of Section 2(a)(51)(C) of the Act, the consent of the
        beneficial owners of an excepted investment company ("owning company") that beneficially owns securities of an
        excepted investment company that is seeking the consents required by Section 2(a)(51)(C) ("consent company")
        shall not be required unless the owning company directly or indirectly controls, is controlled by, or is under
        common control with, the consent company or the company with respect to which the consent company is, or will
        be, a qualified purchaser."</li>
</ol>
<p><b>SECTION 3(C)(1)(A) OF THE INVESTMENT COMPANY ACT:</b></p>
<p>"[N]one of the following persons is an investment company …</p>
<ol type="1">
    <li>Any issuer whose outstanding securities (other than short-term paper) are beneficially owned by not more than
        one hundred persons and which is not making and does not presently propose to make a public offering of its
        securities … For purposes of this paragraph:</li>
</ol>
<ol type="A">
    <li>Beneficial ownership by a company shall be deemed to be beneficial ownership by one person, except that, if the
        company owns 10 per centum or more of the outstanding voting securities of the issuer and is or, but for the
        exception provided for in this paragraph or paragraph (7), would be an investment company, the beneficial
        ownership shall be deemed to be that of the holders of such company’s outstanding securities (other than
        short-term paper)."</li>
</ol>
<p><b>SECTION 3(C)(7) OF THE INVESTMENT COMPANY ACT:</b></p>
<p>"[N]one of the following persons is an investment company …</p>
<ol type="A">
    <li>Any issuer, the outstanding securities of which are owned exclusively by persons who, at the time of acquisition
        of such securities, are qualified purchasers, and which is not making and does not at the time propose to make a
        public offering of such securities. Securities that are owned by persons who received the securities from a
        qualified purchaser as a gift or bequest, or in a case in which the transfer was caused by legal separation,
        divorce, death, or other involuntary event, shall be deemed to be owned by a qualified purchaser, subject to
        such roles, regulations, and orders as the Commission may prescribe as necessary or appropriate in the public
        interest or for the protection of investors."</li>
</ol>