﻿<p style="text-align: center"><b>EXHIBIT</b></p>
<p style="text-align: center"><b>RISK FACTORS</b></p>
<p><i>The Investor should be aware that an investment in the Fund involves a high degree of risk. There can be no
        assurance that the Fund’s investment objectives will be achieved, or that the Investor will receive a return of
        its capital. In addition, there will be occasions when the Fund Manager and its Affiliates may encounter
        potential conflicts of interest in connection with the Fund. The following considerations, among others, should
        be carefully evaluated before making an investment in the Fund.</i></p>
<p><b>RISK INHERENT IN VENTURE CAPITAL INVESTMENTS.</b> The types of investments that the Fund anticipates making
    involve a high degree of risk. In general, financial and operating risks confronting Portfolio Companies can be
    significant. While targeted returns should reflect the perceived level of risk in any investment situation, there
    can be no assurance that the Fund will be adequately compensated for risks taken. A loss of an investor’s entire
    investment is possible. In addition, the markets that such companies target are highly competitive and in many cases
    the competition consists of larger companies with access to greater resources. The timing of profit realization is
    highly uncertain. Losses are likely to occur early in the Fund’s term, while successes often require a long
    maturation</p>
<p>Early-stage and development-stage companies often experience unexpected problems in the areas of product or service
    development, manufacturing, marketing, financing and general management, which, in some cases, cannot be adequately
    solved. In addition, such companies may require substantial amounts of financing which may not be available through
    institutional private placements or the public markets. The percentage of companies that survive and prosper can be
    small.</p>
<p>Investments in more mature companies in the expansion or profitable stage involve substantial risks. Such companies
    typically have obtained capital in the form of debt and/or equity to expand rapidly, reorganize operations, acquire
    other businesses, or develop new products and markets. These activities by definition involve a significant amount
    of change in a company and could give rise to significant problems in product or service development, marketing,
    sales, manufacturing, and general management of these activities.</p>
<p><b>INVESTMENT IN COMPANIES DEPENDENT UPON NEW DEVELOPMENTS AND TECHNOLOGIES.</b> The Fund plans to focus its
    investments in private companies, including technology and technology related companies. The value of the Interest
    may be susceptible to greater risk than an investment in a partnership that invests in a broader range of
    securities. The specific risks faced by such companies include:
    <ul>
        <li>rapidly changing science, technologies and consumer preferences;</li>
        <li>new competing products and improvements in existing products which may quickly render existing products or
            technologies obsolete;</li>
        <li>exposure, in certain circumstances, to a high degree of government regulation, making these companies
            susceptible to changes in government policy and failures to secure, or unanticipated delays in securing,
            regulatory approvals;</li>
        <li>scarcity of management, technical, scientific, research and marketing personnel with appropriate training;
        </li>
        <li>the possibility of lawsuits related to patents and intellectual property; and</li>
        <li>rapidly changing investor sentiments and preferences with regard to healthcare, life science, medical
            device, biotechnology and pharmaceutical sector investments (which are generally perceived as risky).</li>
    </ul>
</p>
<p><b>LEGAL AND REGULATORY RISKS IN LIFE SCIENCES PORTFOLIO COMPANIES.</b> Legal and regulatory changes could occur
    during the term of the Fund that may adversely affect the Fund. The products of portfolio companies and some Fund
    assets may be subject to extensive and rigorous regulation by U.S. local, state and federal regulatory authorities
    and by foreign regulatory bodies. There can be no assurance that products developed by the Fund’s portfolio
    companies will ever be approved by such governmental authorities. Prior to the grant of marketing approvals by the
    U.S. Food and Drug Administration and corresponding regulatory authorities outside of the United States, many of the
    products of portfolio companies may have to undergo extensive investigation and clinical trials to meet stringent
    safety and efficacy requirements. There have been instances when the discovery of previously unknown problems with a
    product, manufacturer or facility have resulted in restrictions on the use or the manufacture of such product,
    including costly recalls or even withdrawal of the product from the market. Such events, whether voluntarily or
    mandated by a regulatory authority, typically result in an immediate reduction or discontinuation of revenues from
    the product worldwide. If such an event were to occur, it would likely have a significant and adverse effect on the
    performance of a particular product or associated royalty interest and could have a material adverse effect on the
    aggregate performance of the Fund.</p>
<p><b>RISKS ASSOCIATED WITH THE LIFE SCIENCES / HEALTHCARE INDUSTRY.</b> The life science, healthcare, medical device,
    biotechnology and pharmaceutical industry is dominated by large multi-national corporations with substantially
    greater financing and technical resources than generally will be available to the Fund’s portfolio companies. Such
    large corporations may be better able to adapt to the challenges presented by continuing rapid and major scientific,
    regulatory and technological changes as well as related changes in governmental and third party reimbursement
    policies. Many of the Fund’s portfolio companies will be at least partially dependent for their success upon
    governmental and third party reimbursement policies that are under constant review and are subject to change at any
    time. Any such change could adversely affect the viability of one or more portfolio companies. Within the life
    science, healthcare, medical device, biotechnology and pharmaceutical industry, the development of products
    generally is a costly and time consuming process. Many highly promising products ultimately fail to prove safe and
    effective. Products under development and pre-clinical testing generally will require extensive clinical testing
    prior to application for commercial use. There can be no assurance that the research or product development efforts
    of the Fund’s portfolio companies or those of their collaborative partners will be successfully completed, that
    specific products can be manufactured in adequate quantities at an acceptable cost and with appropriate quality, or
    that such products can be successfully marketed or achieve customer acceptance. Many of the Fund’s portfolio
    companies will depend heavily upon intellectual property for their competitive position. There can be no assurance
    that the Fund’s portfolio companies will be able to obtain patents for key inventions. Moreover, within the life
    sciences industry, patent challenges are frequent. Even if patents held by the Fund’s portfolio companies are
    upheld, any challenges thereto may be costly and distracting to the portfolio companies’ management.</p>
<p><b>NO ASSURANCE OF RETURNS.</b> An investment in the Fund is highly speculative, involves a high degree of risk and
    could result in the loss of part or all of the Investor’s investment in the Fund. There can be no assurance that the
    Investor will receive distributions from the Fund in an amount equal to its investment in the Fund. The timing of
    profit realization, if any, is highly uncertain. The Fund Manager expects the initial expenses of the Fund to result
    in initial losses for the Fund. The Fund will pay a Management Fee and various other fees and expenses related to
    its ongoing operations regardless of whether or not the Fund’s investment activities are profitable. These fees and
    expenses will require that the Fund’s investment activities generate sufficient revenues in excess of these expenses
    in order to become profitable.</p>
<p><b>RELIANCE ON THE FUND MANAGER AND MANAGING DIRECTOR.</b> The Fund Manager will have sole discretion over the
    investment of the capital committed to the Fund as well as the ultimate realization of any profits. The Investor
    will not receive the detailed financial information issued by Portfolio Companies that will be available to the
    Fund. Accordingly, the Investor will not have the opportunity to evaluate the relevant economic, financial and other
    information that will be utilized by the Fund Manager in its selection of investments. As such, the pool of funds in
    the Fund represents a blind pool of funds. The Investor will be relying on the Fund Manager to identify, structure,
    and implement investments consistent with the Fund’s investment objectives and policies and to conduct the business
    of the Fund as contemplated by the Partnership Agreement. The loss of the Managing Director would likely have a
    significant adverse impact on the business of the Fund. No assurances can be given that the Managing Director will
    continue to be affiliated with the Fund throughout its term. Notwithstanding any prior experience that the Managing
    Director may have in making investments of the type expected to be made by the Fund, any such experience necessarily
    was obtained under different market conditions and with different technologies at the forefront of development.
    There can be no assurance that the Managing Director and/or the Fund Manager will be able to duplicate prior levels
    of success.</p>
<p><b>RELIANCE ON PORTFOLIO COMPANY MANAGEMENT.</b> Although the Fund Manager may seek representation on the board of
    directors of each of the Portfolio Companies, the Fund will not have an active role in the day-to-day management of
    the companies in which it invests. To the extent that the senior management of a Portfolio Company performs poorly,
    or if a key manager terminates employment, the Fund’s investment in such company could be adversely affected.</p>
<p><b>LACK OF INFORMATION FOR MONITORING AND VALUING THE FUND’S ASSETS.</b> Despite the Fund Manager’s efforts to
    acquire sufficient information to monitor certain of the Fund’s investments and make well-informed valuation and
    pricing determinations, the Fund Manager may only be able to obtain limited information at certain times and, in
    some cases, may not be able to obtain information beyond the information that is publicly available. It is possible
    that the Fund Manager may not be aware on a timely basis of material adverse changes that have occurred with respect
    to certain of its investments. The value of the Fund’s assets could be significantly negatively affected by any such
    event. Further, the Fund Manager will have to make valuation determinations without the benefit of an adequate
    amount of relevant information. The Investor should be aware that as a result of these difficulties, as well as
    other uncertainties, any valuation made by the Fund Manager may not represent the fair market value of the
    securities acquired by the Fund.</p>
<p><b>COMPETITIVE MARKETPLACE.</b> The marketplace for venture capital investing has become increasingly competitive.
    Participation by financial intermediaries has increased, substantial amounts of funds have been dedicated to making
    investments in the private sector and the competition for investment opportunities is at high levels. Some of the
    Fund’s potential competitors may have greater financial and personnel resources than the Fund Manager. There can be
    no assurances that the Fund Manager will locate an adequate number of attractive investment opportunities. To the
    extent that the Fund encounters competition for investments, returns to the Investor may vary.</p>
<p><b>AVAILABILITY OF ATTRACTIVE INVESTMENT CANDIDATES.</b> The ultimate success of the Fund will hinge on its ability
    to locate attractive investment candidates. There can be no assurances that attractive candidates will be found in
    sufficient quantity to allow all of the capital commitments to be drawn within the investment period.</p>
<p><b>CHANGING ECONOMIC CONDITIONS.</b> The success of any investment activity is determined to some degree by general
    economic conditions, and the Fund Manager’s investment strategy could be significantly impacted by changing external
    economic conditions in the United States and global economics. The availability, unavailability, or hindered
    operation of external credit markets, equity markets and other economic systems which the Fund may depend upon to
    achieve its objectives may have a significant negative impact on the Fund’s operations and profitability. The
    stability and sustainability of growth in global economies may be impacted by terrorism or acts of war. There can be
    no assurance that such markets and economic systems will be available or will be available as anticipated or needed
    for the Fund to operate successfully. Changing economic conditions could potentially adversely impact the valuation
    of the Fund’s Portfolio Companies.</p>
<p><b>MINORITY INVESTMENTS.</b> The Fund’s investments will generally represent minority stakes in privately held
    companies. As is the case with minority holdings in general, such minority stakes that the Fund may hold will have
    neither the control characteristics of majority stakes nor the valuation premiums accorded majority or controlling
    stakes. The Fund intends to primarily invest in companies for which the Fund has no right to appoint a director or
    otherwise exert significant influence. In such cases, the Fund will be reliant on the existing management and board
    of directors of such companies, which may include representatives of other financial investors with whom the Fund is
    not affiliated and whose interests may conflict with the interests of the Fund.</p>
<p><b>PROJECTIONS.</b> Projected operating results of a Portfolio Company in which the Fund invests normally will be
    based primarily on financial projections prepared by each Portfolio Company’s management team. In all cases,
    projections are only estimates of future results that are based upon assumptions made at the time the projections
    are developed. There can be no assurance that the results set forth in the projections will be attained, and actual
    results may be significantly different from the projections. Also, general economic factors, which are not
    predictable, can have a material effect on the reliability of projections.</p>
<p><b>NO ASSURANCE OF ADDITIONAL CAPITAL FOR INVESTMENTS.</b> After the Fund has financed a company, continued
    development and marketing of products may require that additional financing be provided. The Fund expects to invest
    in companies that have substantial capital needs that are typically funded over several stages of investment. No
    assurance can be made that such additional financing will be available and no assurance can be made as to the terms
    upon which such financing may be obtained. Alternatively, the Fund, either directly or through one of its Portfolio
    Companies, may elect to sell developed or undeveloped assets and/or technologies to existing companies. No assurance
    can be made that buyers for such assets nad/or technologies can be located or that the terms of any such sales will
    be advantageous.</p>
<p><b>REPAYMENT OF CERTAIN DISTRIBUTIONS.</b> In the event that the Fund is unable otherwise to meet its obligations,
    the Investor may be required to repay to the Fund or to pay to creditors of the Fund distributions previously
    received by them.</p>
<p><b>INDEMNIFICATION.</b> The Fund will be required to indemnify the Fund Manager, the Management Company, and their
    members, the Managing Director and affiliates for liabilities incurred in connection with the affairs of the Fund.
    Such liabilities may be material and have an adverse effect on the returns to the Investor. If the assets of the
    Fund are insufficient, the Fund Manager may require the return of distributions.</p>
<p><b>FUTURE AND PAST PERFORMANCE.</b> The performance of any prior fund or any personal investments affiliated with the
    Managing Director is not necessarily indicative of the Fund’s future results. While the Fund Manager intends for the
    Fund to make investments that have estimated returns commensurate with the risks undertaken, there can be no
    assurance that targeted results will be achieved. Loss of principal is possible on any given investment.</p>
<p><b>BRIDGE FINANCING.</b> The Fund may lend to Portfolio Companies on a short-term, unsecured basis in anticipation of
    a future issuance of equity or long-term debt. Such bridge loans would typically be convertible into a more
    permanent, long-term security; however, for reasons not always in the Fund’s control, such long-term Securities may
    not issue and such bridge loans may remain outstanding. In such event, the interest rate on such loans may not
    adequately reflect the risk associated with the unsecured position taken by the Fund.</p>
<p><b>LEVERAGE.</b> To the extent that any investment is made in a Portfolio Company with a leveraged capital structure
    or any Portfolio Company borrows or enters into other financing transactions requiring periodic payments, such
    investment will be subject to increased exposure to adverse economic factors such as a significant rise in interest
    rates, a severe downturn in the economy or deterioration in the condition of such company or its industry. If such a
    company is unable to generate sufficient cash flow to meet principal and interest payments on its indebtedness, the
    value of any equity investment by the Fund in such company could be significantly reduced or even eliminated.</p>
<p><b>LIMITATIONS ON ABILITY TO EXIT INVESTMENTS.</b> The Fund Manager expects the Fund to exit from its investments in
    two principal ways: (i) private sales (including acquisitions of its Portfolio Companies) and (ii) initial and
    secondary public offerings. At any particular time, one or both of these avenues may not be open to the Fund, or
    timing with respect to these exit mechanisms may be inopportune. As such, the ability to exit from and liquidate
    portfolio holdings may be constrained at any particular time.</p>
<p><b>POTENTIAL LIABILITIES.</b> In connection with its investments, the Fund may negotiate the right to appoint a
    representative of the Fund Manager as a member of the Portfolio Company’s board of directors. Such membership on the
    board of directors of a company can result in the Fund or the individual director being named as a defendant in
    litigation. The Fund may also participate in Portfolio Company financings at valuations lower than the valuations in
    preceding rounds of financing. Disputes arising out of such down-round financings may result in the Fund, the Fund
    Manager, or its members being named as defendants. Typically, Portfolio Companies will have insurance to protect
    directors and officers, but this insurance may be inadequate. The Fund will also indemnify the Fund Manager and its
    principals, among others, for liabilities incurred in connection with operations of the Fund, including liabilities
    arising from such suits. Such indemnification obligations and other liabilities could be substantial.</p>
<p><b>CONTINGENT LIABILITIES ON DISPOSITION OF INVESTMENTS.</b> In connection with the disposition of an investment in a
    Portfolio Company, the Fund may be required to make representations about the business and financial affairs of such
    company typical of those made in connection with the sale of a business. The Fund may be required to indemnify the
    purchasers of such investment to the extent that any such representations are inaccurate. These arrangements may
    result in the incurrence of contingent liabilities for which the Fund Manager may establish reserves and escrows. In
    that regard, distributions may be delayed or withheld until such reserve is no longer needed or the escrow period
    expires. The Partners may also be required to return distributions previously made to them to satisfy the Fund’s
    obligations with respect to the foregoing.</p>
<p><b>RESERVES.</b> As is customary in the industry, the Fund Manager may establish reserves for follow-on investments
    by the Fund in Portfolio Companies, operating expenses (including the Management Fee), Fund liabilities, and other
    matters. Estimating the appropriate amount of such reserves is difficult, especially for follow-on investment
    opportunities, which are directly tied to the success and capital needs of Portfolio Companies. Inadequate or
    excessive reserves could impair the investment returns to the investors. If reserves are inadequate, the Fund may be
    unable to take advantage of attractive follow-on or other investment opportunities or to protect its existing
    investments from dilutive or other punitive terms associated with "pay-to-play” or similar provisions. If reserves
    are excessive, the Fund may decline attractive investment opportunities or hold unnecessary amounts of capital in
    money market or similar low-yield accounts.</p>
<p><b>ABSENCE OF LIQUIDITY AND PUBLIC MARKETS.</b> The Fund’s investments will generally be private, illiquid holdings.
    As such, there will be no public markets for the Securities held by the Fund and no readily available liquidity
    mechanism at any particular time for any of the investments held by the Fund. In addition, the realization of value
    from any investments will not be possible or known with any certainty until the Fund Manager elects, in its sole
    discretion, to sell the Fund’s investments and subsequently distribute the proceeds to its Partners or to distribute
    Securities to the Partners in lieu of cash.</p>
<p><b>NO MARKET; ILLIQUIDITY OF THE INTEREST.</b> An investment in the Fund will be illiquid and involves a high degree
    of risk. There is no public market for the Interest, and it is not expected that a public market will develop.
    Consequently, the Investor will bear the economic risks of its investment for the term of the Fund.</p>
<p><b>CERTAIN LIMITATIONS ON THE ABILITY OF THE INVESTOR TO TRANSFER ITS INTEREST.</b> The transferability of the
    Interest will be restricted by the Partnership Agreement and by U.S. federal and state securities laws. In general,
    the Investor will not be able to sell or transfer its Interest to third parties without the consent of the Fund
    Manager.</p>
<p><b>LIMITED PORTFOLIO DIVERSIFICATION.</b> As is typical of venture capital firms, the portfolio holdings of the Fund
    will not be broadly diversified. In addition, if the Fund Manager is unable to raise sufficient capital commitments
    to the Fund, the diversification of the portfolio holdings of the Fund will be further limited. A downturn of the
    economy or in the business of any one company could impact the aggregate returns delivered to the Investor by the
    Fund. To the extent the Fund concentrates investments in a particular issuer, industry, security or geographic
    region, its investments will become more susceptible to fluctuations in value resulting from adverse economic and
    business conditions with respect thereto.</p>
<p><b>DIGITAL ASSETS.</b> The Fund may invest in cryptocurrencies, decentralized application tokens and protocol tokens,
    blockchain-based assets and other cryptofinance and digital assets, or instruments for the purchase of such
    ("<b><i>Digital Assets</i></b>”), which represent a speculative investment and involve a high degree of risk. As
    relatively new products and technologies, Digital Assets have not been widely adopted as a means of payment for
    goods and services by major retail and commercial outlets. Conversely, a significant portion of the demand for
    Digital Assets is generated by speculators and investors seeking to profit from the short or long-term holding of
    Digital Assets. Many Digital Assets will derive their speculative value from the perceived usefulness of the
    blockchain networks they are attached to as many are designed to be consumed in transactions that record data or
    provide access to certain functionality on these networks. The relative lack of acceptance of Digital Assets beyond
    their own blockchain network in the retail and commercial marketplace limits the ability of end-users to pay for
    other goods and services with Digital Assets. A lack of expansion by Digital Assets or use of their underlying
    blockchain networks into retail and commercial markets, or a contraction of such use, may result in increased
    volatility. Several factors may affect the price of Digital Assets, including, but not limited to: supply and
    demand, investors’ expectations with respect to the rate of inflation, interest rates, currency exchange rates or
    future regulatory measures (if any) that restrict the trading of Digital Assets or the use of Digital Assets as a
    form of payment. There is no assurance that Digital Assets will maintain their long-term value in terms of
    purchasing power in the future, or that acceptance of Digital Asset payments by mainstream retail merchants and
    commercial businesses will grow. A Digital Asset is usually an asset attached to a blockchain network secured by
    cryptographic authentication. A blockchain network is a peer-to-peer network of computers that store and verify
    copies of a transactional database. This database, which is the blockchain at the heart of the system, is used to
    record the ownership and value of Digital Asset transactions and the conditions upon which this Digital Asset can be
    further transacted by others. Digital Asset transactions can be authorized by any user that cryptographically proves
    to the network that they have met the required conditions detailed in the transactional database. Once authorized
    and broadcast to peers in the network, these transactions are then recorded to the blockchain via the rules of the
    network’s validation process as dictated by the code run by network peers, the blockchain’s protocol. Thus, Digital
    Assets are created, issued, transmitted and stored according to protocols run by computers in a blockchain network.
    Some blockchain networks are further interdependent on other blockchain networks whose attached Digital Asset may
    have limited to no interoperability but where changes to the protocol may adversely affect some or all
    interdependent blockchain networks. It is possible these protocols have undiscovered flaws which could result in the
    loss of some or all assets held by the Fund. There may also be network scale attacks against these protocols which
    result in the loss of some or all of assets held by the Fund. Some assets held by the Fund may be created, issued or
    transmitted using experimental cryptography which could have underlying flaws. Advancements in quantum computing
    could break the cryptographic rules of protocols which support the assets held by the Fund. The developers and/or
    stakeholders of a blockchain network or open source software project may alter the network protocol in a manner
    adverse to Digital Asset holders or the Fund. The Fund makes no guarantees about the reliability of the cryptography
    used to create, issue, or transmit assets held by the Fund. It may be illegal, now or in the future, to own, hold,
    sell or use Digital Assets in one or more countries, including the United States. Although currently some uses of
    Digital Assets, and the operation of the underlying blockchain networks, may not be regulated or may be lightly
    regulated in most countries, including the United States, one or more countries may take further regulatory action
    in the future to severely restrict the right to acquire, own, hold, sell or use Digital Assets or to exchange
    Digital Assets for fiat currency. Such an action may restrict the Fund’s ability to hold or trade Digital Assets and
    may adversely affect an investment in the Fund.</p>
<p><b>LEGAL AND REGULATORY RISKS.</b> The Fund is not and does not expect to be registered as an "investment company”
    under the U.S. Investment Company Act of 1940, as amended (the "<b><i>Investment Company Act</i></b>”), pursuant to
    an exemption set forth in Sections 3(c)(1) and/or 3(c)(7) of the Investment Company Act. There is no assurance that
    such exemptions will continue to be available to the Fund. The Investment Company Act provides certain protections
    to investors and imposes certain restrictions on registered investment companies, none of which will be applicable
    to the Fund, if the Fund will not be subject to registration as an investment company under the Investment Company
    Act. Due to the burdens of compliance with the Investment Company Act, the performance of the Fund’s investment
    portfolio could be materially adversely affected, and risks involved in financing Portfolio Companies could
    substantially increase, if the Fund becomes subject to registration under the Investment Company Act. Neither the
    Fund nor its counsel can assure investors that, under certain conditions, changed circumstances, or changes in the
    law, the Fund may not become subject to the Investment Company Act or other burdensome regulation. In addition, none
    of the Fund Manager, the Management Company or their respective affiliates is registered as an "investment adviser”
    under the U.S. Investment Advisers Act of 1940, as amended (the "<b><i>Advisers Act</i></b>”). The rules promulgated
    by the Securities Exchange Commission (the "<b><i>SEC</i></b>”) under the Dodd–Frank Wall Street Reform and Consumer
    Protection Act (the "<b><i>Dodd-Frank Act</i></b>”) may require the Fund Manager (or an affiliate of the Fund
    Manager) to register under the Advisers Act at some point in the future. If the Fund Manager or Management Company
    (or an affiliate of the Fund Manager or Management Company) registers as an investment adviser, at such time, a copy
    of Part 2 of its SEC Form ADV, which constitutes its regulatory disclosure brochure, will be made available as
    required. In such event, the Fund Manager (or an affiliate of the Fund Manager) would become subject to additional
    regulatory and compliance requirements associated with the Dodd-Frank Act. Any such additional requirements, or any
    different requirements, may be costly and/or burdensome to such party or parties and could result in the imposition
    of restrictions and limitations on the operations of the Fund and/or the disclosure of information to regulatory
    authorities regarding the operations of the Fund. In addition, the Fund does not plan to register the offering of
    the Interests to its investors under the U.S. Securities Act of 1933, as amended (the "<b><i>Securities
            Act</i></b>”) or under any securities laws of any other country or jurisdiction. As a result, the Investor
    will not be afforded the protections of such Acts and laws with respect to their investment in the Fund.</p>
<p><b>COMPLIANCE COSTS.</b> Increasing legal compliance burdens imposed on the Fund, the Fund Manager, the Management
    Company or the Portfolio Companies may result in increased time and effort on the part of the these entities, the
    Managing Director and/or affiliates thereof devoted to compliance and may distract them from their efforts in
    connection with the Fund’s investments. In addition, the Fund, the investors and/or the Portfolio Companies may be
    required to expend resources on structuring and monitoring their relationships to comply with legal and regulatory
    requirements. Partners will be responsible for their own legal compliance responsibilities in connection with their
    investment in the Fund. Venture capital funds and their advisers are subject to changing and increasing regulatory
    compliance obligations under state and federal law, which may subject the Fund, the Fund Manager and the Management
    Company to increased compliance and administrative costs.</p>
<p><b>CONFLICTS OF INTEREST.</b> The following discussion enumerates certain potential conflicts of interest that should
    be carefully evaluated before making an investment in the Fund. The following is not intended as an exhaustive list
    of the potential conflicts. Instances may arise where the interest of the Management Company, the Fund Manager (or
    its members) may potentially or actually conflict with the interests of the Fund and the investors. For example, the
    existence of the Fund Manager’s carried interest may create an incentive for the Fund Manager to make more
    speculative investments on behalf of the Fund than it would otherwise make in the absence of such performance-based
    arrangements. Further, conflicts of interest may arise as a result of the principals of the Fund Manager having
    investments in Portfolio Companies of existing entities and the Fund, as well as other investments both public and
    private. While certain assurances are provided in the Partnership Agreement to address these potential conflicts,
    certain risks may remain. By acquiring an interest in the Fund, each investor will be deemed to have acknowledged
    the existence of any such actual or potential conflicts of interest and to have waived any claim with respect to any
    liability arising from the existence of any such conflicts of interest.</p>
<p>In addition, the Fund Manager has or may form other investment funds, including without limitation SPV Funds, for the
    purpose of permitting other parties to invest in the investment opportunities of the Fund. An inherent conflict of
    interest exists as a result of the allocation of investment opportunities by the Fund Manager to the Fund and such
    other investment funds. By acquiring an interest in the Fund, each investor will be deemed to have acknowledged that
    the Fund Manager shall have sole and absolute discretion in offering the right to participate in such other
    investment funds (including without limitation SPV Funds) to third parties or existing Partners in the Fund in such
    amounts as are determined by the Fund Manager. For the avoidance of doubt, unless otherwise agreed to in writing by
    the Fund Manager, investors will not be guaranteed to receive a pro rata allocation of any opportunity to
    participate in any such additional investment fund.</p>
<p>The Fund Manager may also, in its sole discretion, permit certain Partners in the Fund to directly co-invest in
    investment opportunities of the Fund. An inherent conflict of interest exists as a result of the allocation of
    investment opportunities by the Fund Manager to the Fund and such direct co-investors.</p>
<p>The Investor hereby acknowledges that the Fund Manager may be prohibited from taking action for the benefit of the
    Fund: (i) due to confidential information acquired or obligations incurred in connection with an outside activity
    permitted to be done by the Fund Manager, the Management Company, or any of their respective members, managers,
    employees, or Affiliates pursuant to the Partnership Agreement; (ii) in consequence of any member, manager,
    employee, agent or Affiliate of the Fund Manager or Management Company serving as an officer, director, consultant,
    agent, advisor or employee of a Portfolio Company; or (iii) in connection with activities undertaken by the Fund
    Manager, the Management Company, or any of their respective members, managers, employees, or Affiliates prior to the
    Initial Closing Date. No Person shall be liable to the Fund or any Partner for any failure to act for the benefit of
    the Fund in consequence of a prohibition described in the preceding sentence. By subscribing for an Interest in the
    Fund, the Investor understands, consents and agrees to such conflicts of interest.</p>
<p><b>WRITTEN SIDE AGREEMENTS.</b> In accordance with common industry practice, the Fund, the Fund Manager and the
    Management Company will be authorized, without the approval of any Partner, to enter into side letters or similar
    written agreements with Partners that have the effect of establishing rights under, or altering or supplementing the
    terms of the Partnership Agreement, such Partner’s Subscription Agreement or other related agreements, including
    without limitation to provide for different or more favorable rights (including without limitation to provide for
    more favorable fees or carried interest rates with respect to such Partner), access to information about the Fund’s
    investments, or other matters relating to an investment in the Fund. These agreements and the special arrangements
    included in such agreements could have an adverse effect on the Fund and the other investors. The ability of other
    Partners to elect to receive the benefit of such side agreements will be limited.</p>
<p><b>FAILURE TO MAKE CAPITAL CONTRIBUTIONS.</b> If another investor fails to pay when due installments of its Capital
    Commitment to the Fund, and the contributions made by non-defaulting investors and borrowings by the Fund are
    inadequate to cover the defaulted capital contribution, the Fund may be unable to pay its obligations when due. As a
    result, the Fund may be subjected to significant penalties that could materially and adversely affect the returns to
    the Investor. If any investor defaults, it may be subject to various remedies as provided in the Partnership
    Agreement.</p>
<p><b>LACK OF CONTROL.</b> Subject to the implementation of the investment limitations described in the Partnership
    Agreement, the Fund Manager has complete discretion in managing the Fund’s portfolio. The Investor will not make
    decisions with respect to the management, disposition or other realization of any investment made by the Fund, or
    other decisions regarding the Fund’s business and affairs.</p>
<p><b>CHANGES IN LAW, REGULATIONS AND ADMINISTRATIVE PRACTICES.</b> Changes in legal, tax and regulatory laws,
    regulations or administrative practices may occur during the term of the Fund that may have an adverse effect on the
    Fund, its investments, its access to investment opportunities, its investors, the Fund Manager and/or the Management
    Company. For example, the Fund expects to make investments in a number of different industries, some of which are or
    may become subject to regulation by one or more U.S. federal agencies and by various agencies of the states,
    localities and counties or agencies of other countries and jurisdictions in which the Fund or the Portfolio
    Companies operate. New and existing regulations, changing regulatory requirements and the burdens of regulatory
    compliance all may have a material negative impact on the performance of Portfolio Companies that operate in these
    industries. Neither the Fund Manager nor the Management Company can predict whether new legislation or regulation
    governing those industries will be enacted by legislative bodies or governmental agencies, nor can either of them
    predict what effect such legislation or regulation might have. There can be no assurance that new legislation or
    regulations, promulgated, including changes to existing laws and regulations, in countries where the Fund invests
    will not adversely affect the Fund, its portfolio investments or the Fund’s investment performance.</p>
<p><b>TAXES.</b> The Investor should be aware that tax consequences to investors from an investment in the Fund are
    complex and may differ for each Partner. The Investor is strongly advised to consult with its own advisors in this
    regard.</p>
<p><b>WITHHOLDING AND OTHER TAXES.</b> The Fund Manager intends to structure the Fund’s investments in a manner that is
    intended to achieve the Fund’s investment objectives and, notwithstanding anything contained herein to the contrary,
    there can be no assurance that the structure of any investment will be tax efficient for any particular investor or
    that any particular tax result will be achieved. In addition, tax reporting requirements may be imposed on investors
    under the laws of the jurisdictions in which investors are liable for taxation or in which the Fund makes portfolio
    investments. Prospective investors should consult their own professional advisors with respect to the tax
    consequences to them of an investment in the Fund under the laws of the jurisdiction in which they are liable for
    taxation. Furthermore, the Fund’s returns in respect of its investments may be reduced by withholding or other taxes
    imposed by jurisdictions in which the Fund’s Portfolio Companies are organized. There can be no assurance that the
    Fund and/or the Investor will be in the position to claim a full or partial refund or a credit of such withholding
    taxes or to obtain benefits under a double taxation treaty (if applicable) with respect to such withholding taxes.
    In addition, the Fund and/or the Investor may have to file a tax return or other documents and may have to provide
    certain evidence to obtain such refund, credit or treaty benefits.</p>
<p><b>AUDIT.</b> The Internal Revenue Service could audit the Fund’s information and adjustments to the Fund’s tax
    returns could occur as a result. Any such adjustment could result in the Fund paying additional tax, interest and
    penalties, as well as incremental accounting and legal expenses.</p>
<p><b>LIMITED OPERATING HISTORY.</b> The Fund is a newly formed entity and has no operating history. The Fund’s
    investment program should be evaluated on the basis that there can be no assurance that the Fund Manager’s
    assessment of the prospects of investments will prove accurate or that the Fund will achieve its investment
    objective. Past performance of the Managing Director of the Fund Manager is not necessarily indicative of future
    results.</p>
<p><b>DIVERSE INVESTORS.</b> The investors may have conflicting investment, tax, and other interests with respect to
    their investments in the Fund. The conflicting interests of individual investors may relate to or arise from, among
    other things, the nature of investments made by the Fund, the structuring or the acquisition of investments and the
    timing of disposition of investments. As a consequence, conflicts of interest may arise in connection with decisions
    made by the Fund Manager with respect to the nature or structuring of investments that may be more beneficial for
    some investors than for others, particularly with respect to investors’ individual tax situations. In selecting and
    structuring investments appropriate for the Fund, the Fund Manager will consider the investment and tax objective of
    the Fund and the Partners as a whole, not the investment, tax or other objective of any investor individually.</p>
<p><b>RISK OF DILUTION.</b> Investors subscribing for interests at subsequent closings will participate in existing
    investments of the Fund, diluting the interest of existing investors therein. Although such investors will
    contribute their pro rata share of prior capital contributions previously drawn down by the Fund, there can be no
    assurance that such payment will reflect the fair value of the Fund’s existing investments at the time such
    additional investors subscribe for such interests.</p>
<p><b>FOREIGN INVESTMENTS.</b> The Fund may invest in companies that are based outside of the United States or the
    operations of which are primarily outside of the U.S. Any investment in a foreign country involves risks not found
    in the domestic securities market, including the following: the risk of economic and financial instability in the
    foreign country, which in some cases may include a collapse in credit markets, stock prices, currencies and/or
    consumer spending; the risk of adverse social and political developments, including nationalization, confiscation
    without fair compensation, political and social instability and war; the risk that the foreign country may impose
    restrictions on the repatriation of investment income or capital or on the ability of foreign persons to invest in
    certain types of companies, assets or securities; risks related to the possible lack of availability of sufficient
    financial information as a result of accounting, auditing, and financial disclosure standards that differ, in some
    cases significantly, from those in the United States; risks related to foreign laws and legal systems, which are
    likely to differ from those of the United States, including in particular the laws with respect to the rights of
    investors which may not be as comprehensive or well developed as those in the United States and the procedures for
    the judicial or other enforcement of such rights which may not be as effective as in the United States; risks
    related to the fact that some investments may be denominated in foreign currencies and, therefore, will be subject
    to fluctuations in exchange rates; and risks related to applicable tax laws and regulations and tax treaties, which
    are likely to vary from country to country and may be less well developed than those in the United States, possibly
    resulting in retroactive taxation so that the Fund could become subject to an unanticipated local tax liability.</p>
<p><b>FOREIGN EXCHANGE RISKS.</b> Contributions to the Fund and distributions from the Fund will be denominated in U.S.
    dollars. Investments may be denominated in U.S. dollars, Euros, Pounds Sterling or, if deemed advisable by the Fund
    Manager, in other currencies. As a result, the profits or losses of the Fund on any investment, as measured in U.S.
    dollars, will be affected by fluctuations in currency exchange rates and exchange control regulations as well as by
    the success of the investment itself. In addition, the Fund may incur costs in connection with conversions between
    various currencies. The Fund does not presently intend to seek to reduce currency risks through "hedging” or other
    methods.</p>
<p><b>CONFIDENTIAL INFORMATION.</b> The Partnership Agreement will contain confidentiality provisions intended to
    protect proprietary and other information relating to the Fund and the Fund’s Portfolio Companies. To the extent
    that such information is publicly disclosed, competitors of the Fund and/or competitors of its Portfolio Companies,
    and others, may benefit from such information, thereby adversely affecting the Fund, its Portfolio Companies, the
    Fund Manager and the economic interests of investors.</p>
<p><b>The foregoing risks do not purport to be a complete explanation of all the risks involved in acquiring the
        Interest. The Investor is urged to read this entire Agreement and the Partnership Agreement before making a
        determination whether to invest in the Fund.</b></p>