﻿<p style="text-align: center"><b>EXHIBIT</b></p>
<p style="text-align: center"><b>PRIVACY POLICY</b></p>
<p>Pursuant to the Gramm-Leach-Bliley Act, Public Law No. 106-102, and the rule issued by the Federal Trade Commission
    regarding the Privacy of Consumer Financial Information, 16 C.F.R. Part 313 (the "<b><i>FTC Privacy Rule</i></b>"),
    institutions that provide certain financial products or services to individuals to be used for personal, family, or
    household purposes are required to provide written notices to their customers regarding disclosure of nonpublic
    personal information. We have been advised that we may be subject to such requirement. This notice is being provided
    to you to comply with the FTC Privacy Rule.</p>
<p>We understand that it is our obligation to maintain the confidentiality of information with regard to our investors
    generally. As a consequence, we do not disclose any nonpublic personal information about our investors or former
    investors to anyone other than our affiliates and service providers, except as permitted by law and as described in
    the following sentences. Consistent with industry practice (and the provisions of our fund agreements), we may
    distribute certain personally identifiable financial information such as the names of investors, the amount of their
    capital commitments and capital account information, to all investors or prospective investors in each specific fund
    and in future funds. In addition, in order to accurately and efficiently conduct the Fund’s investment program, we
    must collect, maintain, use and disclose certain non-public information about you and the Fund’s other investors.
    Finally, we may disclose certain personally identifiable financial information such as the names of investors and
    the amount of their capital commitments to the portfolio companies of the Fund (including prior to the Fund
    Manager’s acceptance of this Agreement). Furthermore, we may be required by law to provide to self-regulatory
    organizations, state governments, and the federal government information about the identity of our investors as well
    as their individual receipts of income and gross proceeds pursuant to the Sections 1471-1474 of the United States
    Internal Revenue Code of 1986, as amended from time to time (or any corresponding provisions of succeeding law).</p>
<p style="text-align: center"><b>AFFILIATES & SERVICE PROVIDERS</b></p>
<p>We collect, and may disclose to our affiliates and service providers (e.g., our attorneys, accountants, auditors,
    administrators, entities that assist us with the distribution of stock to our investors and placement agents for
    future fundraising activities) on a "need to know" basis, certain nonpublic personal information about you from the
    following sources:</p>
<ul>
    <li>Information we receive from you as set forth in your Subscription Agreement, investor questionnaire, or similar
        forms, such as your name, address, and social security or tax identification number; and</li>
    <li>Information about your transactions with us, our affiliates and service providers, or others, such as your
        subscription in each of our funds, such as your capital account balance, contributions and distributions and, in
        the case of an investor that is an individual retirement account, information with regard to such account.</li>
</ul>
<p>We restrict access to nonpublic personal information about you to those employees who need to know that information
    to provide services to the fund and its investors. We maintain physical, electronic, and procedural safeguards to
    guard your nonpublic personal information. In addition, we will continue to assess new technology for protecting
    information with regard to our investors.</p>
<p>In connection with fundraising efforts for future funds, we may disclose information about existing investors to one
    or more placement agents for use in marketing efforts, including communication with prospective future investors.
</p>
<p>The policy may change from time to time, but you can always review our current policy by asking us for a copy.</p>