﻿<p style="display: block; margin-left: auto; margin-right: auto; width: 200px">
    <img style="display: block; margin-left: auto; margin-right: auto; width: 200px" id="logo"
        src="http://localhost:8000/public/images/logo.png" width="200" />
</p>
<br />