﻿<h2 style="text-align: center"><b>{{ fundTopLegalName }}</b></h2>
<h4 style="text-align: center">SUBSCRIPTION AGREEMENT AND INVESTOR QUESTIONNAIRE</h4>
<br />
<p>Your investment in {{ fundLegalEntityName }} (the "<b><i>Fund</i></b>") can only be made by means of the completion,
    delivery and acceptance of this Subscription Agreement and Investor Questionnaire, the Fund Agreement (as
    hereinafter defined) and certain other documents which may be required to invest in the Fund.</p>
<p>{{ fundManagerLegalEntityName }} (the "<b><i>Fund Manager</i></b>") reserves the right to request any additional
    documentation necessary to verify your identity or otherwise complete the review process. The Fund and the Fund
    Manager shall be held harmless by any prospective investor against any loss arising as a result of a failure to
    provide any requested documentation.</p>
<p>We take precautions to maintain the privacy of personal information concerning current and prospective individual
    investors. For more information, please refer to our Privacy Policy attached in the exhibits hereto.</p>
<p style="text-align: center">_____</p>
<p>THE OFFERING OF SECURITIES DESCRIBED IN THIS SUBSCRIPTION AGREEMENT HAS NOT BEEN REGISTERED UNDER THE U.S. SECURITIES
    ACT OF 1933, AS AMENDED (THE "<b><i>SECURITIES ACT</i></b>"), OR UNDER ANY SECURITIES LAWS OF ANY STATE OF THE
    UNITED STATES OR ANY OTHER JURISDICTION. THIS OFFERING IS MADE PURSUANT TO RULE 506 OF REGULATION D UNDER SECTION
    4(A)(2) OF THE SECURITIES ACT, AND THE EQUIVALENT LEGISLATION OF OTHER RELEVANT JURISDICTIONS, WHICH EXEMPT FROM
    SUCH REGISTRATION TRANSACTIONS NOT INVOLVING A PUBLIC OFFERING. FOR THIS REASON, THESE SECURITIES WILL BE SOLD ONLY
    TO INVESTORS WHO MEET CERTAIN MINIMUM SUITABILITY QUALIFICATIONS DESCRIBED HEREIN.</p>
<p>AN INVESTOR SHOULD BE PREPARED TO BEAR THE ECONOMIC RISK OF AN INVESTMENT IN THE FUND FOR AN INDEFINITE PERIOD OF
    TIME BECAUSE THE FUND INTERESTS HAVE NOT BEEN REGISTERED UNDER THE SECURITIES ACT OR THE LAWS OF ANY OTHER
    JURISDICTION, AND, THEREFORE, CANNOT BE SOLD UNLESS THEY ARE SUBSEQUENTLY REGISTERED OR AN EXEMPTION FROM
    REGISTRATION IS AVAILABLE. THERE IS NO OBLIGATION ON THE ISSUER TO REGISTER THE FUND INTERESTS UNDER THE SECURITIES
    ACT OR THE LAWS OF ANY OTHER JURISDICTION. TRANSFER OF THE FUND INTERESTS IS ALSO RESTRICTED BY THE TERMS OF THE
    FUND AGREEMENT (AS HEREINAFTER DEFINED) RELATING THERETO.</p>
<p>PROSPECTIVE FOREIGN INVESTORS SHOULD CONSULT WITH THEIR OWN COUNSEL REGARDING WHETHER OR NOT TO INVEST IN THE FUND.
    IT IS THE RESPONSIBILITY OF ANY PERSON OR ENTITY WISHING TO PURCHASE AN INTEREST TO SATISFY HIMSELF, HERSELF OR
    ITSELF AS TO THE FULL OBSERVANCE OF THE LAWS OF ANY RELEVANT TERRITORY OUTSIDE OF THE UNITED STATES IN CONNECTION
    WITH ANY SUCH PURCHASE, INCLUDING OBTAINING ANY REQUIRED GOVERNMENTAL OR OTHER CONSENTS OR OBSERVING ANY OTHER
    APPLICABLE FORMALITIES.</p>