<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://localhost:8000/public/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="http://localhost:8000/public/css/pdf.css" />
</head>

<body>
    <div class="text-center">
        <p style="text-align: center">{{ legalEntity }}</p>
        <p style="text-align: center">{{ gpMailingAddress }}</p>
    </div>
    <div>
        <p>{{ date }}</p>
        <p>{{ investorLegalEntityName }} </p>
        <p>{{ investorMailingAddressPart1 }}</p>
        <p>{{ investorMailingAddressPart2 }}</p>
    </div>
    <div class="textIndent50">
        <p class="marginBottom20">Re: {{ legalEntity }}</p>
    </div>
    <div>
        <p>Ladies and Gentlemen:</p>
        <p>Reference is made to the Subscription Agreement and Investor Questionnaire (the "<b><i>Subscription
                    Agreement</i></b>") by and between {{ investorLegalEntityName}} (the "<b><i>Investor</i></b>"),
            {{legalEntity}} (the "<b><i>Fund</i></b>"), and {{fundManagerLegalEntityName }} (the "<b><i>Fund
                    Manager</i></b>").</p>
        <p>Under the terms of the Subscription Agreement, the Investor agreed to an aggregate capital commitment to the
            Fund of {{ lpCapitalCommitment }}.</p>
        <p>The Investor hereby agrees to increase its aggregate capital commitment to the Fund (the "<b><i>Increased
                    Capital Commitment</i></b>") to a total of {{ newCapitalCommitment}} (<i>i.e.,</i> an increase of
            {{increaseOfCapitalCommitment }}).</p>
        <p>All representations and warranties contained in the Subscription Agreement are true and correct as of the
            date hereof, and the Investor agrees to notify the Fund Manager if any such representations and warranties
            become inaccurate at any time. The Investor reaffirms it has received, read and understands the Partnership
            Agreement and this Agreement. The Investor further reaffirms all agreements made in the Subscription
            Agreement as of the date hereof, and agrees that all representations, warranties and agreements made in the
            Subscription Booklet will apply to the Increased Capital Commitment.</p>
    </div>

</body>

</html>