<!DOCtype html public "-//W3C//DTD html 4.0 Transitional//EN">
<html>

<head>
    <link rel="stylesheet" href="http://localhost:8000/public/css/bootstrap.min.css">
    <script src="http://localhost:8000/public/js/jquery.min.js"></script>
    <script src="http://localhost:8000/public/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://localhost:8000/public/css/commitmentChange.css">
</head>

<body class="mainBody">
    <div class="marginBottom50">
        <p class="marginBottom20">Very truly yours,</p>
        <p class="marginBottom25">{{ investorLegalEntityName }}<br /><br /></p>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 padRightZero positionTop5">By:</div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 padLeftZero positionLeft40"><label
                            class="textBottomUnderline minWidth150">&nbsp;&nbsp;</label></div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 padRightZero positionTop5">Name:</div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 padLeftZero positionLeft40"><label
                            class="textBottomUnderline minWidth150">{{ lpName }}</label></div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 padRightZero positionTop5">Title:</div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 padLeftZero positionLeft40"><label
                            class="textBottomUnderline minWidth150">{{ legalTitleDesignation }}</label></div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 padRightZero positionTop5">Date:</div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 padLeftZero positionLeft40"><label
                            class="textBottomUnderline minWidth150">&nbsp;&nbsp;</label></div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <p class="marginBottom30"><b>ACCEPTED AND AGREED:</b></p>
        <p class="marginBottom25">{{ fundManagerLegalEntityName }}<br /><br /></p>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 padRightZero positionTop5">By: </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 padLeftZero positionLeft40"><label
                            class="textBottomUnderline minWidth150">&nbsp;&nbsp;</label></div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 padRightZero positionTop5">Name: </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 padLeftZero positionLeft40"><label
                            class="textBottomUnderline minWidth150">{{ gpName }}</label></div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 padRightZero positionTop5">Title: </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 padLeftZero positionLeft40"><label
                            class="textBottomUnderline minWidth150">{{ fundManagerTitle }}</label></div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 padRightZero positionTop5">Date: </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 padLeftZero positionLeft40"><label
                            class="textBottomUnderline minWidth150">&nbsp;&nbsp;</label></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

</html>