<!DOCTYPE html>
<html>
<head>
<title>Vanilla Team</title>
</head>
<body>
    <p>Dear {{ name}},</p>
    <p>In respect of your investment in {{ fundName}}, the Fund Agreement has been modified since the time you executed it to include changes requested by fellow investor. In order to subscribe to the Fund, you will need to approve these changes. Please visit <a href="{{clientURL }}">Vanilla</a> to log in to your account to provide the necessary approval. </p>
    <p>Best regards,<br/>The Vanilla Team</p>
</body>
</html>