<!DOCTYPE html>
<html>
<body>
    <p>Dear,</p>
    <p>Cron count has reached its limit for subscription ids [{{subscriptionIds}}]. Please do verify.</p>
    <p>Best regards,<br/>The Menlo Team</p>
</body>
</html>