<!DOCTYPE html>
<html>
<head>
<title>Vanilla Team</title>
</head>
<body>
    <p>Dear {{ gpName }},</p>
    <p>The email address change you authorized for {{ oldLpName}} in {{fundName}} has been completed. The new email address is: {{email }}.</p>
    <p>Best regards,<br/>The Vanilla Team</p>
</body>
</html>