<!DOCTYPE html>
<html>
<head>
<title>Vanilla Team</title>
</head>
<body>
    <p>Dear {{ fundManagerName }},</p>
    <p>{{investorName}} has indicated that they are under common control with another Investor which they designated as {{numberOfexistingOrProspectives}}.  Please note that if these investors add up collectively to 10% or more of total Investor interests at the applicable closing, you should carefully review with your counsel the 1940 Act Investor Count as Vanilla will not automatically count them as related and therefore the 1940 Investor Act Count may be higher than indicated by Vanilla.  Please discuss this issue with your legal counsel if applicable.</p>
    <p>Best regards,<br/>The Vanilla Team</p>
</body>
</html>



