<!DOCTYPE html>
<html>
<head>
<title>Vanilla Team</title>
</head>
<body>
    <p>Hello {{ name}},</p>
    <p>We received a request to reset the password associated with this email address. If you made this request, please use the below code to reset your password using our secure server.</p>
    <p>If you did not request a password reset, please ignore this email.</p>
    <p>Code: <strong>{{emailConfirmCode}}</strong></p>
    <p>Best regards,<br/>The Vanilla Team</p>
</body>
</html>
