<!DOCTYPE html>
<html>
<head>
<title>Vanilla Team</title>
</head>
<body>
    <p>Hello {{ name}},</p>
    <p>The fund called {{ fundName }} is deactivated, it's no longer available. </p>
    <p>Best regards,<br/>The Vanilla Team</p>
</body>
</html>