<!DOCTYPE html>
<html>
<head>
<title>Vanilla Team</title>
</head>
<body>
    <p>Dear {{ fundManagerName }},</p>
    <p> {{ lpName}} has {{lpStatus}} your invitation to join {{fundName }} as an Investor.</p>
    <p>Best regards,<br/>The Vanilla Team</p>
</body>
</html>