<!DOCTYPE html>
<html>
<head>
    <title>Vanilla Team</title>
</head>
<body>
        <p>Hello {{ fundManagerName }},</p>
        <div>{{{html}}}</div>
        <p>Best regards,<br/>The Vanilla Team</p>
</body>
</html>