<!DOCTYPE html>
<html>
<head>
<title>Vanilla Team</title>
</head>
<body>
    <p>Dear {{ name }},</p>
    <p>You have been invited to subscribe to {{ fundCommonName}} through Vanilla, the easy way to subscribe for and manage private fund interests electronically.  In order to subscribe to  {{fundCommonName}}, <a href="{{loginOrRegisterLink }}">click here</a> {{content}}</p>
    <p>Best regards,<br/>The Vanilla Team</p>
</body>
</html>



