<!DOCTYPE html>
<html>
<head>
<title>Vanilla Team</title>
</head>
<body>
    <p>Hello {{ name}},</p>
    <p>You have been invited to become a secondary signatory for documents related to {{ fundName}} fund by {{gpName}}. Please <a href="{{loginOrRegisterLink }}">login/register</a> to view details.</p>
    <p>Best regards,<br/>The Vanilla Team</p>
</body>
</html>