<!DOCTYPE html>
<html>
<head>
<title>Vanilla Team</title>
</head>
<body>
    <p>Hello {{ name}},</p>
    <p>With respect to {{ fundName}}, you have been invited by {{lpName }} to assist with their subscription through Vanilla, the easy way to subscribe for and manage private fund interests electronically.</p> 
    <p>In order to assist with the inviting investor's subscription to {{ fundName}}, <a href="{{loginOrRegisterLink }}">click here</a> {{content}}</p>
    <p>Best regards,<br/>The Vanilla Team</p>
</body>
</html>