<!DOCTYPE html>
<html>
<head>
<title>Vanilla Team</title>
</head>
<body>
    <p>Hello {{ name}},</p>
    <p>Vanilla has created your new Fund, {{ fundLegalEntityName }} and you are now set to start using Vanilla.</p>
    <p>Welcome to Vanilla. The email address associated with your account is listed below.  Please use the Set Password link below to create the password for your account.  Once you’ve created your password you can login and start using Vanilla.</p>
    <p>Email: {{ email }}</p>
    <p>Set password - <a href="{{ link }}">click here</a></p>
    <p>Best regards,<br/>The Vanilla Team</p>
</body>
</html>