<!DOCTYPE html>
<html>
<head>
<title>Vanilla Team</title>
</head>
<body>
    <p>Hello {{ name }},</p>    
    <p>Vanilla has created your new Fund, {{ fundLegalEntityName }} and you are now set to start using Vanilla.</p>
    <p>Please <a href="{{ clientURL }}">click here</a> log in.</p>
    <p>Best regards,<br/>The Vanilla Team</p>
</body>
</html>