<!DOCTYPE html>
<html>
<head>
<title>Vanilla Team</title>
</head>
<body>
    <p>Dear {{ name }},</p>
    <p>Your subscription to {{ fundCommonName}} has been accepted in the amount of {{capitalCommitmentAccepted}}. Please <a href="{{loginLink }}">click here</a> to log in to your account, where you can download the fully executed agreements related to your investment.</p>
    <p>Best regards,<br/>The Vanilla Team</p>
</body>
</html>