<!DOCTYPE html>
<html>

<head>
    <title>Vanilla Team</title>
</head>

<body>
    <p>Hello {{ gpName }},</p>
    <p>Please be advised that {{ lpName}} proposing to subscribe to <b>{{ fundName }}</b> is inside the European Economic Area (EEA) and as such there may be legal implications of accepting their Capital Commitment under applicable AIFMD or AIFMD-like rules. Please consult the Fund's legal counsel immediately, prior to any further communications with the proposed Investor and prior to closing.</p>
    <p>Best regards,<br/>The Vanilla Team</p>
</body>

</html>