<!DOCTYPE html>
<html>
<head>
<title>Vanilla Team</title>
</head>
<body>
    <p>Hello {{ name }},</p>
    <p>You are designated as a primary signatory in {{ fundName}}. Your secondary signatory(ies) have electronically signed the fund's documents and you are now able to electronically sign as primary signatory. Please visit <a href="{{loginOrRegisterLink }}">Vanilla</a> to  electronically sign the fund's documents.</p>
    <p>Best regards,<br/>The Vanilla Team</p>
</body>
</html>