<!DOCTYPE html>
<html>
<head>
<title>Vanilla Team</title>
</head>
<body>
    <p>Hello {{ name }},</p>
    <p>The Vanilla Team has made changes to your profile. Please <a href="{{ loginLink }}">click here</a> to go to your account to view your changes.</p>
    <p>Best regards,<br/>The Vanilla Team</p>
</body>
</html>