
<!DOCTYPE html>
<html>
<head>
<title>Vanilla Team</title>
</head>
<body>
    <p>Hello {{ name}} </p>
    <p>This is a gentle reminder that the fund {{ fundName }} is still pending and has not been completed and signed.</p>
    <p>Best regards,<br/>The Vanilla Team</p>
</body>
</html>