<!DOCTYPE html>
<html>
<head>
<title>Vanilla Team</title>
</head>
<body>
    <p>Hello {{ name}} ,</p>
    <p>Please <a href="{{ link }}">view</a> to add signature.</p>
    <p>Best regards,<br/>The Vanilla Team</p>
</body>
</html>