<!DOCTYPE html>
<html>
<head>
<title>Vanilla Team</title>
</head>
<body>
    <p>Dear {{ gpName }},</p>
    <p>The name change you authorized for {{ oldLpName}} in {{fundName}} has been completed. The new {{updatedUserAccountType}} name is: {{newLpName }}.</p>
    <p>Best regards,<br/>The Vanilla Team</p>
</body>
</html>