<!DOCTYPE html>
<html>
<head>
<title>Vanilla Team</title>
</head>
<body>
    <p>Dear {{ newLpName }},</p>
    <p>The name change you requested for {{ oldLpName}} in {{fundName}} has been authorized by the Fund Manager and completed. The new Signatory name is: {{newLpName }}.</p>
    <p>Best regards,<br/>The Vanilla Team</p>
</body>
</html>