<html>
    <head>
        <title>Vanilla Team</title>
        </head>
        <body>
            <p>Hello {{ name }},</p>
            <p>{{ previousfundmanager }} has assigned you to be the Primary Fund Manager for {{ fundname }}.</p>
            <p>You can click <a href="{{oldacceptancelink }}">here</a> to accept.</p>
            <p>Best regards,<br/>The Vanilla Team</p>
        </body>
</html>
     