<!DOCTYPE html>
<html>
<head>
<title>Vanilla Team</title>
</head>
<body>
    <p>Hello {{ name }},</p>
    <p>Below are your signatory account details:</p>
    <p>Email: {{ email }}</p>   
    {{#if link}}
    <p>Password: Follow this <a href="{{ link }}">url</a> to set password</p>
    {{/if}}
    <p>Please <a href="{{loginOrRegisterLink }}">click here</a> to login.</p> 
    <p>Best regards,<br/>The Vanilla Team</p>
</body>
</html>