<!DOCTYPE html>
<html>
<head>
<title>Vanilla Team</title>
</head>
<body>
    <p>Hello {{ name }},</p>
    <p>The Vanilla admin invited you to create a new account, <a href="{{ clientURL}/register/{{emailConfirmCode }}">click here</a> to setup your account.</p>
    <p>Best regards,<br/>The Vanilla Team</p>
</body>
</html>