<!DOCTYPE html>
<html>
<head>
<title>Vanilla Team</title>
</head>
<body>
    <p>Hello {{ name}},</p>
    <p>You are designated as a secondary signatory in {{ fundName}}.  Please <a href="{{loginOrRegisterLink }}">login/register</a> with Vanilla to electronically sign the fund's documents.</p>    
    <p>Best regards,<br/>The Vanilla Team</p>
</body>
</html>