<!DOCTYPE html>
<html>
<head>
<title>Vanilla Team</title>
</head>
<body>
    <p>Dear {{ lpName }},</p>
    <p>Your subscription to {{ fundName}}, in the amount of {{lpCapitalCommitmentOffered}} has been filled out by your appointed delegate {{delegateName}} and is ready for your review and signature. Please visit <a href="{{clientURL }}">Vanilla</a> to log in to your account, where you will be guided to complete your subscription by signing your Subscription and the Fund Agreement documents.</p>    
    <p>Best regards,<br/>The Vanilla Team</p>
</body>
</html>