<!DOCTYPE html>
<html>
<head>
<title>Vanilla Team</title>
</head>
<body>
    <p>Please <a href="{{loginOrRegisterLink }}">login/register</a> to view details.</p>
    <p>Best regards,<br/>The Vanilla Team</p>
</body>
</html>
