<!DOCTYPE html>
<html>
<head>
<title>Vanilla Team</title>
</head>
<body>
    <p>Hello {{ name}},</p>
    <p>{{fundManagerCommonName}} has changed your Subscription Agreement with respect to your proposed investment in {{fundCommonName }}. This will require you to electronically re-execute the Subscription Agreement. You will not have to re-enter other data, though you will have a chance to review it prior to electronically re-executing. Please return to the Vanilla application to electronically re-execute your Subscription Agreement.</p>
    <p>If you have assigned a Secondary Signatory(s) to your Fund Subscription, they will need to review and sign the Subscription Agreement prior to your review and signature.</p>
    <p>Best regards,<br/>The Vanilla Team</p>
</body>
</html>
