<!DOCTYPE html>
<html>
<head>
<title>Vanilla Team</title>
</head>
<body>
    <p>Hello {{ name}},</p>
    <p>Your registration is confirmed. Please <a href="{{ clientURL }}">click here</a> to login and get going. </p>
    <p>Best regards,<br/>The Vanilla Team</p>
</body>
</html>