<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://localhost:8000/public/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="http://localhost:8000/public/css/lastPage.css">
</head>

<body>

    {{#ifCond investorType 'INDIVIDUAL'}}
    <div {{investorType}} is equal to {{'INDIVIDUAL'}} class="mainContent">
        {{#if areYouSubscribingAsJointIndividual}}
        <div><strong>LIMITED PARTNER (JOINT INDIVIDUAL):</strong></div>
        {{else}}
        <div><strong>LIMITED PARTNER ({{investorType}}):</strong></div>
        {{/if}}

        {{#if areYouSubscribingAsJointIndividual}}
        <div class="full-row mT20">
            <div class="colOne">Title:</div>
            <div class="calTwo"><label>{{legalTitleDesignation}}</label></div>
        </div>
        {{else}}
        <div></div>
        {{/if}}

        <div class="full-row mT20">
            <div class="colOne">By:</div>
            <div class="calTwo"><label><img alt="" src="{{lpSignaturePic}}"></label></div>
        </div>

        <div class="full-row mT20">
            <div class="colOne">Name:</div>
            <div class="calTwo"><label>{{lpName}}</label></div>
        </div>

        <div class="">
            <div class="colOne"></div>
            <div class="calTwo mtN15">
                <p>(Print Name)</p>
            </div>
        </div>
     
        <div class="full-row mT20">
            <div class="colOne">Date:</div>
            <div class="calTwo"><label>{{date}}</label></div>
        </div>

    </div>
    {{else}}
    <div class="mainContent">
        <div><strong>LIMITED PARTNER ({{investorType}}):</strong></div>
        <div class="full-row mT20">
            <div class="colOne">Name:</div>
            <div class="calTwo"><label>{{name}}</label></div>
        </div>
        <div class="">
            <div class="colOne"></div>
            <div class="calTwo mtN15">
                <p>(Print name of {{investorType}})</p>
            </div>
        </div>

        <div class="full-row mT20">
            <div class="colOne">By:</div>
            <div class="calTwo"><label><img alt="" src="{{lpSignaturePic}}"></label></div>
        </div>

        <div class="full-row mT20">
            <div class="colOne">Name:</div>
            <div class="calTwo"><label>{{lpName}}</label></div>
        </div>

        <div class="">
            <div class="colOne"></div>
            <div class="calTwo mtN15">
                <p>(Print Name)</p>
            </div>
        </div>
        <div class="full-row mT20">
            <div class="colOne">Title:</div>
            <div class="calTwo"><label>{{legalTitleDesignation}}</label></div>
        </div>

        <div class="full-row mT20">
            <div class="colOne">Date:</div>
            <div class="calTwo"><label>{{date}}</label></div>
        </div>

    </div>
    {{/ifCond}}
</body>

</html>