<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://localhost:8000/public/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="http://localhost:8000/public/css/lastPage.css">
</head>

<body>

    <div class="mainContent">
        <p class="row mT20"><b>ACCEPTED AND AGREED:</b></p>
        <div class="row mT20">
            <div><strong>{{fundManagerLegalEntityName}}</strong></div>
        </div>
        <div class="row mT20">
            <div class="colOne">By:</div>
            <div class="calTwo"><label><img alt="" src="{{gpSignaturePic}}"></label></div>
        </div>
        <div class="row mT20">
            <div class="colOne">Name:</div>
            <div class="calTwo"><label>{{gpName}}</label></div>
        </div>


        <div class="">
            <div class="colOne"></div>
            <div class="calTwo mtN15">
                <p>(Print Name)</p>
            </div>
        </div>
        <div class="row mT20">
            <div class="colOne">Title:</div>
            <div class="calTwo"><label>{{fundManagerTitle}}</label></div>
        </div>

        <div class="row mT20">
            <div class="colOne">Date:</div>
            <div class="calTwo"><label>{{date}}</label></div>
        </div>


    </div>

</body>

</html>