<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://localhost:8000/public/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="http://localhost:8000/public/css/lastPage.css">
</head>

<body>
    <div>
        <p class="center"><strong>SUBSCRIPTION AGREEMENT AND INVESTOR QUESTIONNAIRE </strong></p>
        <p class="center"><strong>ACCEPTANCE PAGE </strong></p>
        <h5 class="center">(To Be Completed by the Fund Manager)</h5>
        <p>By its execution of this Acceptance Page, the Fund Manager and Fund hereby accept the foregoing subscription
            on the terms set forth in this Subscription Agreement and Investor Questionnaire either for the Capital Commitment set forth below, and by such acceptance admits the Investor as a {{fundEntityType}} and binds itself and the Investor to the terms of the Fund Agreement and this
            Subscription Agreement and Investor Questionnaire.</p>
    </div>
    <div class="mT20">
        <label>CAPITAL COMMITMENT ACCEPTED IN AMOUNT OF: {{capitalCommitment}}</label>
    </div>
    <div class="mT20">
        <p><strong>SUBSCRIPTION ACCEPTED:</strong></p>
        <label>Accepted On: </label>{{acceptedOn}}
    </div>
    <div class="mainContent">
        <div class="row mT20"><strong>GENERAL PARTNER:</strong></div>

        <div class="row mT20">
            <div><strong>{{fundManagerLegalEntityName}}</strong></div>
        </div>
        <div class="row mT20">
            <div class="colOne">By:</div>
            <div class="calTwo">{{fundLegalEntity}} its general partner</div>
        </div>       
        <div class="row mT20">
            <div class="colOne">By:</div>
            <div class="calTwo"><label><img alt="" src="{{gpSignaturePic}}"></label></div>
        </div>
        <div class="row mT20">
            <div class="colOne">Name:</div>
            <div class="calTwo"><label>{{gpName}}</label></div>
        </div>


        <div class="">
            <div class="colOne"></div>
            <div class="calTwo mtN15">
                <p>(Print Name)</p>
            </div>
        </div>        
        <div class="row mT20">
            <div class="colOne">Title:</div>
            <div class="calTwo"><label>{{fundManagerTitle}}</label></div>
        </div>

        <div class="row mT20">
            <div class="colOne">Date:</div>
            <div class="calTwo"><label>{{acceptedOn}}</label></div>
        </div>        

    </div>

</body>

</html>