.mainContent {
    width: 800px;
    margin:  0px auto;
}
body {
    font-size: 24px;
}

.row  {
    width: 800px;
    clear: both;
    float: none;
}
.colOne {
    width: 150px;
    display: inline-block;
}

.calTwo {
    width: 500px;
    display: inline-block;
}
.calTwo label {
    width: 300px;
    border-bottom: 1px solid #000;
    display: block;
}
.mT20 {
    margin-top: 20px;
}
.mT40 {
    margin-top: 40px;
}
.mtN15 {
    margin-top: -15px;
}
.full-row {
    width: 100%;
}
.title {
    width: 200px;
    display: inline-block;
    font-size: 20px;
}
img {
    margin-bottom: 5px;
}
.center {
    text-align: center;
}
.margin-top label{
    margin-top:30px;
    border-bottom: 1px solid #000;
}
.bTop{
    border-top: 1px solid #000;
    margin-top: -5px;
    width: 50%;
}