<body>
    <div id="root">
        <div>
            <div class="text-center"> 

                    <img  style='height: 80px;
                    margin-top: -15px;
                    position: relative;
                    top: 10px;
                    width: auto;' src="https://vanillavc.com/static/media/Vanilla.0c46db26.png" alt="vanilla">

                <h2>Not Found.</h2>
            </div>
        </div>
    </div>
</body>